@model  V308CMS.Data.ProductCategoryPageContainer
@using V308CMS.Data;
@using V308CMS.Common;
@{
    Layout = "~/Views/themes/" + ViewBag.domain + "/Layout/Layout.cshtml";
    int pageTotal = 0;
    if (Model.ProductTotal > ProductHelper.ProductShowLimit)
    {
        pageTotal = (int)Math.Ceiling((float)Model.ProductTotal / (float)ProductHelper.ProductShowLimit);
    }
}
@section header {
    <title>Danh mục - @Model.ProductType.Name</title>
    <meta name="keywords" content="@Model.ProductType.Name">
    <meta property="og:url" content="@Ultility.ImgUrl("")">
    <meta property="og:type" content="website" />
    <meta property="og:title" content="@Model.ProductType.Name">
    <meta property="og:image" content="@Ultility.ImgUrl(@Model.ProductType.Image)">
    <meta property="og:description" content="@Model.ProductType.Description">
}

<div class="row main_row">
    <div class="col-fillter-product">
        <div class=" col-md-3 col-sm-3 col-xs-12 col-left" id="filter-sidebar">
        </div>
    </div>
    <div class="col-xs-12 col-main display-toolbar no-sidebar collection-page no-padding-lr">

        <div class="toolbar ">

            <div class="toolbar-mode row">
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <div class="filter-collection-left"><a class="btn">Xem danh mục</a></div>
                    <div class="collection-view">
                        <label>Xem</label>
                        <a class="change-view grid active" id="grid" rel="tooltip" title="Xem lưới" onclick="display(\'grid\');"><i class="fa fa-th" aria-hidden="true"></i></a>
                        <a class="change-view list" id="list" rel="tooltip" title="Xem danh sách" onclick="display(\'list\');"><i class="fa fa-list-ul" aria-hidden="true"></i></a>
                    </div>

                    <div class="browse-tags">
                        <label>Sắp xếp theo</label>
                        <select class="sort-by">
                            <option value="manual">Xem nhiều nhất</option>
                            <option value="price-ascending">Giá: thấp đến cao</option>
                            <option value="price-descending">Giá: cao đến thấp</option>
                            @*<option value="title-ascending">Alphabetically: A-Z</option>
                            <option value="title-descending">Alphabetically: Z-A</option>
                            <option value="created-ascending">Date: old to new</option>
                            <option value="created-descending">Date: new to old</option>
                            *@
                            <option value="best-selling">Bán chạy</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4 total-page ">
                    @if (pageTotal > 0) { 
                        <div class="page-total">
                            <span>Hiển thị</span> từ <span>@(ProductHelper.ProductShowLimit * (Model.Page - 1) + 1) đến @( (pageTotal == Model.Page) ? Model.ProductTotal : ProductHelper.ProductShowLimit * Model.Page) trong tổng số @Model.ProductTotal sản phẩm</span>
                        </div>
                    }
                    
                </div>
            </div>
        </div>

        <div class="products-grids product-grid-item">
            @if (Model.Products != null && Model.Products.Count > 0)
            {
                <div class="row">
                    @foreach (Product prod in Model.Products)
                    {
                        //continue;
                        
                        <div class="col-md-4 col-sm-4 col-xs-6">
                            <div class="grid-item product-item" id="product-@prod.ID">
                                <div class="item-poduct">
                                    <div class="product-image ">
                                        <div class="product-label">
                                            <lable class="label">Sale</lable>
                                        </div>


                                        <a href="@url.productURL(prod.Name, prod.ID)" class="grid-image">
                                            <img class="feature-images" src="@ImageHelper.Crop(@prod.Image, 250)" alt="@prod.Name">

                                            @*<span class="product-hover" data-idproduct="7824322313">
                                                <img class="img-responsive" alt="Contemporary Leopard Mini Dress" src="//cdn.shopify.com/s/files/1/1498/2346/products/17_41986a1f-0218-4fd1-8f6a-c7919bc99263_large.jpg?v=1484812673">
                                            </span>*@

                                        </a>


                                        <div class="quickview-button">
                                            <a href="javascript:void(0)" id="contemporary-leopard-mini-dress" data-toggle="tooltip" data-placement="top" title="@prod.Name" class="sca-qv-button btn">Xem nhanh</a>
                                        </div>


                                    </div>
                                    <div class="product-content">
                                        <h3><a class="product-title" href="@url.productURL(prod.Name, prod.ID)">@prod.Name</a></h3>
                                        <div class="price-box">
                                            <p class="sale">
                                                <span class="old-price">
                                                    @if (prod.SaleOff > 0)
                                                    { 
                                                        <span class="money">@String.Format("{0: 0,0}", prod.Price - (prod.Price / 100) * prod.SaleOff) ) @ViewBag.MoneyShort</span>
                                                    }
                                                </span>
                                                <span class="special-price">
                                                    @if (prod.Price > 0)
                                                    {
                                                        <span class="money">@String.Format("{0: 0,0}", (prod.Price)) @ViewBag.MoneyShort</span>
                                                    }
                                                </span>
                                            </p>

                                        </div>

                                        <div class="reviews-container">
                                            <span class="shopify-product-reviews-badge" data-id="7824322313"></span>
                                        </div>

                                        <p class="short-description">@prod.Summary</p>
                                        <div class="add-to-link">
                                            <div class="add-to-cart">

                                                <form action="/cart/add" method="post" class="variants" id="product-actions-@prod.ID" enctype="multipart/form-data" style="padding: 0px;">
                                                    <input type="hidden" name="id" value="29530312713" />
                                                    <span>
                                                        <input class="btn add-to-cart-btn" data-toggle="tooltip" data-placement="top" title="Thêm vào giỏ hàng" type="submit" value="Thêm vào giỏ hàng" />
                                                    </span>
                                                </form>
                                            </div>
                                            <a class="wishlist btn" href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="Yêu thích"><span><i class="fa fa-heart" aria-hidden="true"></i></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    }
                </div>
            }

        </div>

        @if (pageTotal > 0)
        {

            Boolean showSpacePrev = false;
            Boolean showSpaceNext = false;
            
            <div class="padding">
                <div class="toolbar toolbar-bottom">
                    <ul class="pagination-page">
                        @if (Model.Page > 1 & pageTotal > 0)
                        { 
                            <li><a href="@Request.Url.Fragment?p=@(Model.Page - 1)" title="trang trước"><i class="fa fa-caret-left" aria-hidden="true"></i></a></li>
                        }
                        @for (int i = 1; i <= pageTotal; i++)
                        {


                            if (i == Model.Page)
                            {
                                @:<li class="active" ><span>@i</span></li>
                            }
                            else
                            {
                                if (i <= Model.Page - 2 & i != 1)
                                {
                                    if (showSpacePrev != true)
                                    { 
                                        @:<li><a href="javascript:void(0);">...</a></li>
                                        showSpacePrev = true;
                                    }
                                }
                                else if (i >= Model.Page + 2 & i != pageTotal)
                                {
                                    if (showSpaceNext != true)
                                    { 
                                        @:<li><a href="javascript:void(0);">...</a></li>
                                        showSpaceNext = true;
                                    }
                                }
                                else
                                {
                                    @:<li><a href="@Request.Url.Fragment?p=@i">@i</a></li>
                                }

                            }


                        }
                        @if (Model.Page < pageTotal)
                        { 
                            <li><a href="@Request.Url.Fragment?p=@(Model.Page + 1)" title="trang tiếp theo"><i class="fa fa-caret-right" aria-hidden="true"></i></a></li>
                        }
                        
                    </ul>
                </div>
            </div>
        }
    </div>
    <div class="overlay-filter"></div>
</div>

<script>

    jQuery('.sort-by')
    .val('price-ascending')
         .bind('change', function () {
             Shopify.queryParams.sort_by = jQuery(this).val();
             location.search = jQuery.param(Shopify.queryParams).replace(/\+/g, '%20');
         });

    function replaceUrlParam(url, paramName, paramValue) {
        var pattern = new RegExp('(' + paramName + '=).*?(&|$)'),
            newUrl = url.replace(pattern, '$1' + paramValue + '$2');
        if (newUrl == url) {
            newUrl = newUrl + (newUrl.indexOf('?') > 0 ? '&' : '?') + paramName + '=' + paramValue;
        }
        return newUrl;
    }

    jQuery(function () {
        jQuery('.filter-collection-left > a').on('click', function () {
            jQuery('.wrapper').addClass('show-fillter');
        }
                                                );
        jQuery(document).mouseup(function (e) {

            var container = jQuery("#filter-sidebar");

            if (!container.is(e.target) // if the target of the click isn't the container...
                && container.has(e.target).length === 0) // ... nor a descendant of the container
            {
                jQuery('.wrapper').removeClass('show-fillter');
            }
        });

    });

    jQuery(function () {
        jQuery('.filter-collection-left > a').on('click', function () {
            jQuery('.wrapper-container').addClass('show-fillter');
        }
                                                );
        jQuery(document).mouseup(function (e) {

            var container = jQuery("#filter-sidebar");

            if (!container.is(e.target) // if the target of the click isn't the container...
                && container.has(e.target).length === 0) // ... nor a descendant of the container
            {
                jQuery('.wrapper-container').removeClass('show-fillter');
            }
        });
        jQuery('body.template-collection .collection-view a').on('click', function () {
            jQuery('.collection-view a.active').removeClass('active');
            jQuery(this).addClass('active');

        });

        jQuery('body.template-collection .collection-view a.list').on('click', function () {
            jQuery('body.template-collection').find('.products-grid').addClass('product-list-item');
            if (jQuery('body.template-collection .products-grid').hasClass('product-grid-item')) {
                jQuery('body.template-collection').find('.products-grid').removeClass('product-grid-item');

            } else {
                jQuery('body.template-collection').find('.products-grid').addClass('');
            }

        });
        jQuery('body.template-collection .collection-view a.grid').on('click', function () {
            jQuery('body.template-collection').find('.products-grid').addClass('product-grid-item');
            if (jQuery('body.template-collection .products-grid').hasClass('product-list-item')) {
                jQuery('body.template-collection').find('.products-grid').removeClass('product-list-item');

            } else {
                jQuery('body.template-collection').find('.products-grid').addClass('');
            }
        });
        jQuery('body.template-collection .collection-view a.list').on('click', function () {
            jQuery('body.template-collection').find('.products-grids').addClass('product-list-item');
            if (jQuery('body.template-collection .products-grids').hasClass('product-grid-item')) {
                jQuery('body.template-collection').find('.products-grids').removeClass('product-grid-item');

            } else {
                jQuery('body.template-collection').find('.products-grids').addClass('');
            }

        });
        jQuery('body.template-collection .collection-view a.grid').on('click', function () {
            jQuery('body.template-collection').find('.products-grids').addClass('product-grid-item');
            if (jQuery('body.template-collection .products-grids').hasClass('product-list-item')) {
                jQuery('body.template-collection').find('.products-grids').removeClass('product-list-item');

            } else {
                jQuery('body.template-collection').find('.products-grids').addClass('');
            }
        });


    });
</script>

<script>
    // ---- Custom ----  

    $('.template-collection .col-main').css('padding-top', '0px');

    $('.browse-tags').parent().removeClass('col-md-5');
    $('.browse-tags').parent().removeClass('col-sm-7');

    $('.browse-tags').parent().addClass('col-sm-12');
    $('body').parent().addClass('widthout-sidebar');

    jQuery(function () {
        jQuery('.filter-collection-left > a').on('click', function () {
            jQuery('.container.typo-main').addClass('show-fillter');
        }
                                                );
        jQuery(document).mouseup(function (e) {

            var container = jQuery("#filter-sidebar");

            if (!container.is(e.target) // if the target of the click isn't the container...
                && container.has(e.target).length === 0) // ... nor a descendant of the container
            {
                jQuery('.container.typo-main').removeClass('show-fillter');
            }
        });

    });

</script>

<style>
    /* ---- Custom ---- */

    /* ---- replace  page-header image to background cover ---- */


    .collection-page .page-header {
        background: url(//cdn.shopify.com/s/files/1/1498/2346/t/12/assets/image_category.jpg?12126481974382985035);
        background-size: cover;
    }


    .toolbar {
        margin-bottom: 20px !important;
    }

    .sort-by {
        margin-right: 3px;
    }
</style>
