@model V308CMS.Data.ProductDetailPage
@using V308CMS.Common;
@using V308CMS.Data;
@{
    Layout = "~/Views/themes/" + ViewBag.domain + "/Layout/Layout.cshtml";
}

@section header {
    <title>Sản Phẩm - @Model.Product.Name</title>
    <meta name="keywords" content="@Model.Product.Name">
    <meta property="og:url" content="@Ultility.ImgUrl("")">
    <meta property="og:type" content="website" />
    <meta property="og:title" content="@Model.Product.Name">
    <meta property="og:image" content="@Ultility.ImgUrl(@Model.Product.Image)">
    <meta property="og:description" content="@Model.Product.Summary">
}

<div class="row" id="product">

    <div class="col-xs-12 col-main col-md-12 col-sm-12">
        <div itemscope itemtype="http://schema.org/Product" class="product">
            <meta itemprop="url" content="@url.productURL(Model.Product.Name,Model.Product.ID)">
            <meta itemprop="image" content="@ImageHelper.Crop(@Model.Product.Image, 500)">
            <meta itemprop="shop-currency" content="VND">

            <div class="row">
                <div class="col-xs-12 col-md-5 col-sm-5 product-img-box">
                    <a href="" class="zoom" id="placeholder">
                        <img id="product-featured-image" src="@ImageHelper.Crop(@Model.Product.Image, 500)" alt="Facial Cleansing Pad" data-zoom-image="@ImageHelper.Crop(@Model.Product.Image, 1200)" />
                    </a>
                    <div id="zt_list_product" class="thumbs">
                        <div class="image-item">
                            <a href="javascript:void(0)" data-image="@ImageHelper.Crop(@Model.Product.Image, 500)" data-zoom-image="@ImageHelper.Crop(@Model.Product.Image, 1200)">
                                <img src="@ImageHelper.Crop(@Model.Product.Image, 100)" alt="@Model.Product.Name">
                            </a>
                        </div>
                        @if (Model.Images != null & Model.Images.Count() > 0)
                        {
                            foreach (ProductImage img in Model.Images) {
                            <div class="image-item">
                                <a href="javascript:void(0)" data-image="@ImageHelper.Crop(@img.Name, 500)" data-zoom-image="@ImageHelper.Crop(@img.Name, 1200)">
                                    <img src="@ImageHelper.Crop(@img.Name, 100)" alt="@Model.Product.Name">
                                </a>
                            </div>
                            }
                        }

                        

                    </div>
                </div>

                <div class="col-xs-12 col-md-7 col-sm-7 product-shop">
                    <div itemprop="offers" itemtype="http://schema.org/Offer">
                        <header class="product-title ">
                            <h2 itemprop="name">@Model.Product.Name</h2>
                        </header>

                        <div class="star-price">
                            <div class="price-box">
                                <p class="regular-product">
                                    @if (Model.Product.Price > 0)
                                    {
                                        <span class="price" itemprop="price"><span class="money">@String.Format("{0: 0,0}", (Model.Product.Price)) @ViewBag.MoneyShort</span></span>
                                    }
                                    
                                </p>
                            </div>
                        </div>

                        <div class="availability">
                            <p class="product-inventory">
                                <label>Tình trạng</label><span><span>còn hàng</span></span>
                            </p>
                        </div>


                        <link itemprop="availability" href="http://schema.org/InStock">

                        <span class="shopify-product-reviews-badge" data-id="7825635209"></span>

                        <div class="short-description">@Model.Product.Summary</div>

                        <form action="/cart/add" method="post" enctype="multipart/form-data">
                            <div id="product-variants">
                                <input type="hidden" name="id" value="25223403849" />
                            </div>
                        </form>

                        <div class="product-bottom">
                            <form action="/cart/add" method="post" enctype="multipart/form-data" id="add-to-cart-form">


                                <label>Số lượng:</label>
                                <div class="wrap-qty">
                                    <span class="down-qty"></span>
                                    <input class="qty" type="text" id="quantity" name="quantity" value="1">
                                    <span class="up-qty"></span>
                                </div>
                                <div class="cart-wraper">
                                    <button type="submit" name="add" class="btn " id="product-add-to-cart" value="Add to Cart">Thêm vào giỏ hàng</button>
                                </div>
                            </form>
                        </div>

                        <a class="wishlist btn" href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="Yêu thích"><span><i class="fa fa-heart" aria-hidden="true"></i></span></a>

                    </div>
                </div>
            </div>
        </div>

        <div class="product-tabs ">
            <ul class="nav nav-tabs" id="myTab">
                <li class="active"><a data-toggle="tab" href="#collapse-tab1">Thông tin sản phẩm</a></li>
                <li><a data-toggle="tab" href="#collapse-tab2">Đánh giá </a></li>
            </ul>

            <div id="myTabContent" class="tab-content">
                <div id="collapse-tab1" class="tab-pane fade in active">
                    @Html.Raw(@Model.Product.Detail.Replace("\n", "<br />"))
                </div>
                <div id="collapse-tab2" class="tab-pane fade">
                    @*<div id="shopify-product-reviews" data-id="7825635209"></div>*@
                    <div class="fb-comments" data-href="@Ultility.LocDau(@Model.Product.Name)-d@(Model.Product.ID).html" data-width="100%" data-numposts="5" data-colorscheme="light"></div>
                </div>
            </div>
        </div>
        <script>
            jQuery('#myTab a').click(function (e) {
                e.preventDefault();
                jQuery(this).tab('show');
            })
        </script>

        @*        <script src="//cdn.shopify.com/s/assets/themes_support/option_selection-f3dd7ba25bddfb6b0fe9addc0cae11dc709eeb6a469ec7f66f49e3abc4ce8c81.js" type="text/javascript"></script>*@

    </div>

</div>


<script>
    jQuery(document).ready(function () {
        jQuery("#zt_list_product").owlCarousel({

            itemsCustom: [
              [320, 1],
              [360, 2],
              [450, 3],
              [600, 3],
              [700, 3],
              [1000, 4],
              [1200, 4],
              [1400, 4],
              [1600, 4]
            ],
            navigation: true,
            navigationText: ['<i class="arrow_carrot-left"></i>', '<i class="arrow_carrot-right"></i>']
        });
    });
    //Shopify.Image.preload(["\/\/cdn.shopify.com\/s\/files\/1\/1498\/2346\/products\/21_d775a09c-a223-4d2f-bc4a-7d8e2c3474e8.jpg?v=1484812816","\/\/cdn.shopify.com\/s\/files\/1\/1498\/2346\/products\/23_f5425920-e855-4fdd-accb-0b480443dd09.jpg?v=1484812817","\/\/cdn.shopify.com\/s\/files\/1\/1498\/2346\/products\/24_d5cd5894-cd4d-412a-933e-f11c715907e8.jpg?v=1484812818","\/\/cdn.shopify.com\/s\/files\/1\/1498\/2346\/products\/25_d3353baa-4cc4-4cba-a95c-1523cc987ab1.jpg?v=1484812819"], 'grande');



    var selectCallback = function (variant, selector) {
        if (variant) {
            jQuery('.variant-sku').text(variant.sku);
        }
        else {
            jQuery('.variant-sku').empty();
        }

        if (variant && variant.featured_image) {
        }
        var addToCart = jQuery('#product-add-to-cart'),
            productPrice = jQuery('.product .price'),
            comparePrice = jQuery('.product .compare-price'),
            skuproduct = jQuery('.product-sku');

        var sku = jQuery('#product-selectors').find(':selected').attr('data-sku');
        jQuery('.product-sku').html(sku);
        if (variant) {
            if (variant.available) {
                // We have a valid product variant, so enable the submit button
                addToCart.removeClass('disabled').removeAttr('disabled').val('Add to Cart');

            } else {
                // Variant is sold out, disable the submit button
                addToCart.val('Sold Out').addClass('disabled').attr('disabled', 'disabled');
            }

            // Regardless of stock, update the product price
            productPrice.html(Shopify.formatMoney(variant.price, "<span class=money>${{amount}}</span>"));

            // Also update and show the product's compare price if necessary
            if (variant.compare_at_price > variant.price) {
                productPrice.addClass("on-sale")
                comparePrice
                .html(Shopify.formatMoney(variant.compare_at_price, "<span class=money>${{amount}}</span>"))
                                          .show();
            } else {
                comparePrice.hide();
                productPrice.removeClass("on-sale");
            }

            // BEGIN SWATCHES
            var form = jQuery('#' + selector.domIdPrefix).closest('form');
            for (var i = 0, length = variant.options.length; i < length; i++) {
                var radioButton = form.find('.swatch[data-option-index="' + i + '"] :radio[value="' + variant.options[i] + '"]');
                if (radioButton.size()) {
                    radioButton.get(0).checked = true;
                }
            }
            // END SWATCHES





        } else {
            // The variant doesn't exist. Just a safeguard for errors, but disable the submit button anyway
            addToCart.val('Unavailable').addClass('disabled').attr('disabled', 'disabled');
        }

        //update variant inventory

        if (variant.available) {
            if (variant.inventory_management != null) {
                jQuery(".product-inventory span").text(variant.inventory_quantity + " in stock");
            } else {
                jQuery(".product-inventory span").text("Many in stock");
            }
        } else {
            jQuery(".product-inventory span").text("Out of stock");
        }


        /*begin variant image*/



        if (variant && variant.featured_image) {
            var originalImage = jQuery("#product-featured-image");
            var newImage = variant.featured_image;
            var element = originalImage[0];

            function removeExtent(str) {
                var arr = str.split("v=");
                if (arr[0])
                    return arr[0];
            }




            Shopify.Image.switchImage(newImage, element, function (newImageSizedSrc, newImage, element) {
                jQuery('#zt_list_product img').each(function () {

                    var grandSize = jQuery(this).attr('src');
                    grandSize = grandSize.replace('_compact', '');

                    grandSize = grandSize.replace('.jpg.jpg', '.jpg');
                    grandSize = removeExtent(grandSize);

                    newImageSizedSrc = newImageSizedSrc.replace('https:', '');
                    newImageSizedSrc = newImageSizedSrc.replace('http:', '');
                    newImageSizedSrc = newImageSizedSrc.replace('_grande', '');

                    newImageSizedSrc = newImageSizedSrc.replace('.jpg.jpg', '.jpg');

                    newImageSizedSrc = removeExtent(newImageSizedSrc);

                    if (grandSize == newImageSizedSrc) {
                        jQuery(this).parent().trigger('click');
                        return false;
                    }
                });
            });
        }

        /*end of variant image*/

    };

    jQuery(function ($) {


        // Add label if only one product option and it isn't 'Title'. Could be 'Size'.


        // Hide selectors if we only have 1 variant and its title contains 'Default'.

        $('.selector-wrapper').hide();


        // Auto-select first available variant on page load. Otherwise the product looks sold out.





        $('.single-option-selector:eq(0)').val("Default Title").trigger('change');





        var reviewsTimeout = setInterval(function () {
            if (jQuery(".spr-badge-caption").length > 0) {
                jQuery(".spr-badge-caption").on('click', function () {
                    jQuery('html,body').animate({
                        scrollTop: jQuery(".panel:last").offset().top
                    },
                                                '400');
                    jQuery("#collapse-tab4").collapse('show');
                });
                clearInterval(reviewsTimeout);
            }
        }, 1000);



    });
    jQuery(document).ready(function ($) {
        $('.up-qty').click(function () {
            quantity = $('#quantity').val();
            $('#quantity').val(parseInt(quantity) + 1);
        });
        $('.down-qty').click(function () {
            quantity = $('#quantity').val();
            if (quantity > 1)
                $('#quantity').val(parseInt(quantity) - 1);
        });

    });

</script>

@if (Model.RelatedList != null && Model.RelatedList.Count > 0)
{

<section class="related-products">
    <h2><span>Sản phẩm cùng loại</span></h2>
    <div class="products-grid">
        @foreach (V308CMS.Data.Product prod in Model.RelatedList)
        {
            <div class="product-hover product-review no_crop_image grid-item product-item wow fadeIn" data-wow-delay="0ms" id="product-@prod.ID">

                <div class="item-poduct">
                    <div class="product-top">
                        <div class="product-image ">

                            <a href="@url.productURL(prod.Name, prod.ID)" class="grid-image">
                                <img class="feature-images" src="@ImageHelper.Crop(prod.Image, 250)" alt="@prod.Name">
                                @*<span class="product-hover" data-idproduct="7825628937">
                                    <img class="img-responsive" alt="Eye Shadow Palette" src="//cdn.shopify.com/s/files/1/1498/2346/products/21_large.jpg?v=1484812770">
                                </span>*@
                            </a>

                            <div class="quickview-button">
                                <a href="javascript:void(0)" id="eye-shadow-palette" data-toggle="tooltip" data-placement="top" title="@prod.Name" class="sca-qv-button btn">Xem nhanh</a>
                            </div>
                        </div>
                    </div>

                    <div class="product-content">
                        <h3><a class="product-title" href="@url.productURL(prod.Name, prod.ID)">@prod.Name</a></h3>
                        <div class="price-box">

                            <p class="regular-product">
                                @if (prod.Price > 0)
                                {
                                    <span><span class="money">@String.Format("{0: 0,0}", (prod.Price)) @ViewBag.MoneyShort</span></span>
                                }
                                    
                            </p>

                        </div>


                        <span class="shopify-product-reviews-badge" data-id="@prod.ID"></span>

                        <div class="add-to-link">

                            <div class="add-to-cart">

                                <form action="/cart/add" method="post" class="variants" id="product-actions-@prod.ID" enctype="multipart/form-data" style="padding: 0px;">
                                    <input type="hidden" name="id" value="@prod.ID" />
                                    <span>
                                        <input class="btn add-to-cart-btn" data-toggle="tooltip" data-placement="top" title="Thêm vào giỏ hàng" type="submit" value="Thêm vào giỏ hàng" />
                                    </span>
                                </form>
                            </div>

                            <a class="wishlist btn" href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="Yêu thích"><span><i class="fa fa-heart" aria-hidden="true"></i></span></a>

                        </div>
                    </div>
                </div>
            </div>
        }

    </div>
</section>
    <script>
        jQuery(document).ready(function () {
            jQuery(".related-products .products-grid").owlCarousel({
                autoPlay: 8000,
                scrollPerPage: true,
                slideSpeed: 500,
                stopOnHover: true,
                navigation: true,
                navigationText: ['<i class="arrow_carrot-left"></i>', '<i class="arrow_carrot-right"></i>'],
                items: 5,
                itemsDesktop: [1200, 3],
                itemsTablet: [767, 3],
                itemsTabletSmall: [721, 2]
            });
        });
    </script>
}
