@using V308CMS.Helpers
@using V308CMS.Helpers.Url
@model V308CMS.Data.BoxContent

<div class="shopify-section index-section product-category">
    <div class="tabs-product-home tabs-home-">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="tabs-product-container group-@Model.Category.ColorTheme">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="title-container">
                                    <div class="row">
                                        <div class="block-title col-xs-10 col-sm-10 col-md-5">
                                            <a href="@Url.ProductCategoryUrl(Model.Category)" title="@Model.Category.Name">
                                                <h2 style="">
                                                    <span>@Model.Category.Name</span>
                                                    <i class="fa fa-@Model.Category.Icon"></i>
                                                </h2>
                                            </a>
                                        </div>
                                        @if (Model.ListSubCategory.Any())
                                        {
                                            var activeIndex = 0;
                                            <div class="tabs-product col-xs-2 col-sm-2 col-md-7">
                                                <div class="icon-bar"></div>
                                                <ul class="nav nav-tabs" role="tablist">
                                                    @foreach (var subCate in Model.ListSubCategory)
                                                    {
                                                        <li role="presentation" class="@(activeIndex == 0 ? "active" : "")">
                                                            <a href="#@subCate.ID" role="tab" data-toggle="tab" class="showtab">@subCate.Name</a>
                                                        </li>
                                                        activeIndex += 1;
                                                    }
                                                </ul>
                                            </div>
                                        }

                                    </div>
                                </div>
                            </div>
                            <script>
                                jQuery(function() {
                                    jQuery("a.showtab").click(function() {
                                        jQuery(this).parents("ul.nav").hide();
                                    });
                                });
                            </script>
                        </div>
                        <div class="row">
                            <div class="product-featured tabs-product">
                                <div class="hidden-xs hidden-sm col-md-4 col-lg-5">
                                    <div class="banner-featured">
                                        <a href="#@Model.Category.ID">
                                            <img src="@Model.Category.Image.ToOriginalUrl()" alt="@Model.Category.Name" />
                                        </a>
                                    </div>
                                    <div class="async brand-image" data-url="@Url.LoadListBrandAsyncUrl(Model.Category.ID)">
                                    </div>
                                </div>
                                <div class="product-featured-content col-xs-12 col-sm-12 col-md-8 col-lg-7">
                                    @if (Model.ListContentItem.Any())
                                    {
                                        var boxItemIndexActive = 0;
                                        <div class="tab-content">
                                            @foreach (var boxItem in Model.ListContentItem)
                                            {
                                                <div class="tab-pane tabs-content fade @(boxItemIndexActive == 0 ? "in active" : "")"
                                                     id="@boxItem.SubCategory.ID">
                                                    <div class="carousel slide productCateCarousel" id="@boxItem.SubCategory.ID-caro">
                                                        @if (boxItem.Products != null)
                                                        {
                                                            int line = 0;
                                                            foreach (var product in boxItem.Products)
                                                            {
                                                                int lineCheck = line % 2;
                                                                if (lineCheck == 0)
                                                                {
                                                                    @Html.Raw("<div class='product_list'> <div class='products-row'>");

                                                                }
                                                                <div class="item">
                                                                    <div class="grid-3  grid-item product-item product-hover product-review" id="product-@product.ID">
                                                                        <div class="product-image">
                                                                            @if (product.SaleOff > 0)
                                                                            {
                                                                                <div class="product-label">
                                                                                    <label class="label">Giám giá</label>
                                                                                </div>
                                                                            }
                                                                            <a href="@Url.ProductDetailUrl(product)" class="grid-image" title="@product.Name">
                                                                                <img class="feature-images" src="@product.Image.ToUrl(250, 250)" alt="@product.Name">
                                                                                @if (product.ProductImages != null && product.ProductImages.Any())
                                                                                {
                                                                                    <span class="product-hover" data-idproduct="@product.ID">
                                                                                        <img class="img-responsive" alt="@product.Name" src="@(product.ProductImages.First().Name.ToUrl(250, 250))">
                                                                                    </span>
                                                                                }
                                                                            </a>
                                                                            <div class="quickview-button">
                                                                                <a href="javascript:void(0)" data-id="@product.ID" data-toggle="tooltip" data-placement="top" title="@product.Name" class="sca-qv-button btn">
                                                                                    @ViewBag.ProductViewText
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                        <div class="product-content">
                                                                            <h3>
                                                                                <a class="product-title" href="@Url.ProductDetailUrl(product)">@product.Name</a>
                                                                            </h3>                                                                                                                                            
                                                                            <div class="price-box">
                                                                                @if (product.SaleOff == 0)
                                                                                {
                                                                                    <p class="regular-product">
                                                                                        <span><span class="money">@product.ToProductPrice()</span></span>
                                                                                    </p>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <p class="sale">
                                                                                        <span class="special-price"><span class="money">@product.ToProductPrice()</span></span>
                                                                                        <span class="old-price"><span class="money">@product.ToProductSaleOffPrice()</span></span>
                                                                                    </p>
                                                                                }
                                                                            </div>
                                                                            <span class="shopify-product-reviews-badge" data-id="@product.ID"></span>
                                                                            <div class="add-to-link">
                                                                                <div class="add-to-cart">
                                                                                   @if (product.Quantity > 0)
                                                                                   {
                                                                                        <a href="javascript:void(0);" class="btn add-to-cart-btn" add-cart="@product.ID" title="Thêm vào giỏ hàng">
                                                                                            Thêm vào giỏ hàng
                                                                                        </a>

                                                                                   }
                                                                                   else
                                                                                   {
                                                                                        <span style="color: #f00; font-weight: bold">Sản phẩm tạm hết hàng</span>
                                                                                   }

                                                                                </div>
                                                                                <a data-id="@product.ID" class="wishlist btn" href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="Yêu thích">
                                                                                    <span><i class="fa fa-heart" aria-hidden="true"></i></span>
                                                                                </a>
                                                                            </div>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                                if (lineCheck == 1)
                                                                {
                                                                    @Html.Raw("</div></div>");

                                                                }
                                                                line++;
                                                            }


                                                        }
                                                    </div>
                                                </div>
                                                boxItemIndexActive++;
                                            }
                                        </div>
                                    }

                                </div>
                            </div>
                            <div class="col-md-12 visible-xs  text-right" style="margin: 5px 15px;">
                                <a href="@Url.ProductCategoryUrl(Model.Category)"> Xem Thêm</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(".async").each(function (index, item) {
        var url = $(item).data("url");
        if (url && url.length > 0) {
            $(item).html("<span>Loading...</span>");
            $(item).load(url, function (response, status, xhr) {
                if (status === "error") {
                    $(item).html("<span class='error'>Không thể tải dữ liệu</span>");
                }
            });
        }

    });
</script>
