@model  V308CMS.Data.ProductCategoryPageBox
@{
    ViewBag.Title = "C-FOOD";
    Layout = "~/Views/Layout/_CategoryLayout.cshtml";
    ViewBag.Description = "";
}
<style type="text/css">
    .b1 .b2 .b3 img {
        -webkit-transition: all 500ms ease 0s;
        -o-transition: all 500ms ease 0s;
        transition: all 500ms ease 0s;
        width: 230px;
        height: 200px;
        display: block;
        padding: 12px;
    }

    .b1 .b2 .b3 {
        height: 213px;
    }

    .b1 .b2 .b4 .b5 {
        margin-top: 5px;
        font-size: 16px !important;
        font-weight: normal;
        color: #131313;
    }
</style>
<section class="wrap category no-select">
    <div class="ctnr">
        <section class="cbo-brc">
            <div class="brc-lst"><a class="next" href="//disieuthi.vn/" title="Trang Chủ">Trang Chủ                    </a></div>
            <div class="atc-nm">
                <a href="/trai-cay-tuoi-157/" title="Trái cây tươi">Trái cây tươi                </a>
                <div class="sub-bread is-mn mCustomScrollbar _mCS_1 mCS-autoHide done" style="overflow: visible;">
                    <div id="mCSB_1" class="mCustomScrollBox mCS-minimal-dark mCSB_vertical mCSB_outside" tabindex="0" style="max-height: 200px;">
                    </div>
                    <div id="mCSB_1_scrollbar_vertical" class="mCSB_scrollTools mCSB_1_scrollbar mCS-minimal-dark mCSB_scrollTools_vertical" style="display: block;">
                        <div class="mCSB_draggerContainer">
                            <div id="mCSB_1_dragger_vertical" class="mCSB_dragger" style="position: absolute; min-height: 50px; display: block; height: 67px; max-height: 166px;" oncontextmenu="return false;">
                                <div class="mCSB_dragger_bar" style="line-height: 50px;"></div>
                            </div>
                            <div class="mCSB_draggerRail"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- cbo-lst-mrt -->
        <div class="list-category mxClrAft">
            <div class="left-category">
                <div class="slide-category" id="js-vendor-slide1">
                    <ul id="accord-slide-1" class="js-accord-sld" style="display: block; height: 350px; width: 808px; padding: 0px; position: relative; overflow: hidden; list-style: none;">
                        <li class="slider slider-closed" style="top: 0px; z-index: 0; margin: 0px; padding: 0px; float: left; display: block; position: absolute; overflow: hidden; width: 600px; height: 350px; text-indent: 0px; left: 0px; cursor: pointer;"><a href="javascript:;">
                            <img src="//img.disieuthi.vn/quangcao/img05.jpg">
                            <span class="info-slide"><span class="title-slide"></span>
                                <!--<span class="desc-slide">Nhân dịp hè siêu thị Coop-Mart có những chương trình giảm giá đặc biệt, tri ân khách hàng với những ưu đãi lớn dành cho khách hàng thành viên; Thời gian diễn ra từ 02/08/2015 đến 20/08/2015</span>-->
                            </span></a></li>
                    </ul>
                </div>
                @if (Model.List != null)
                { 
                @foreach (V308CMS.Data.ProductCategoryPage it in Model.List)
                {
                    if (it.List.Count > 0)
                    {
                    <section class="cbo-hp vd">
                        <div class="cbo-hp-head mxClrAft"><a class="hp-ttl" href="/@V308CMS.Common.Ultility.LocDau(@Model.Market.UserName)-m@(@it.Id).html">@it.Name        </a><a href="/@V308CMS.Common.Ultility.LocDau(@Model.Market.UserName)-m@(@it.Id).html" class="hp-mre">Xem tất cả            <span class="fa fa-angle-right"></span></a></div>
                        <!-- cbo-hp-head -->
                        <div class="cbo-hp-cnt mxClrAft cat-hp">
                            <div class="rht-cat-hp" id="list_product_1">
                                <div class="b1">
                                    @foreach (V308CMS.Data.Product ht in it.List)
                                    {
                                       <div class="b2 cq" data-id="13015" style="height: 330px;">
                                           
                                            <a href="/@V308CMS.Common.Ultility.LocDau(@ht.Name)-d@(@ht.ID).html" class="b3" style="margin:0px;" title="Rau muống goodlife greens">
                                                <img class="lazy-loaded" data-src="@ht.Image" alt="Rau muống goodlife greens" src="http://cleanfoodvn.vn@(@ht.Image)">
                                            </a>
                                            <div class="b4">
                                                <a class="b5" href="/@V308CMS.Common.Ultility.LocDau(@ht.Name)-d@(@ht.ID).html" title="@ht.Name">@ht.Name</a>
                                                <div class="b6" style="display: inline-block; margin: auto; overflow: inherit;">
                                                    <span style="color: #be1a19; font-size: 22px; line-height: 36px;">@String.Format("{0: 0,0}", (ht.Price - ((ht.Price / 100) * ht.SaleOff)))đ</span>
                                                    @if (ht.SaleOff > 0)
                                                    { 
                                                        <span style="text-decoration: line-through; font-size: 14px; margin: 0 6px;">@String.Format("{0: 0.0}", (ht.Price))đ</span>
                                                        <span style="color: #fff; background: #e61010; display: inline-block; padding: 0px 7px 4px; border-radius: 22px; height: 15px; margin-left: 2px; line-height: 22px;">-@ht.SaleOff%</span>
                                                    }

                                                </div>
                                                <div class="b6">
                                                    @String.Format("{0: 0,0}", (ht.Price - ((ht.Price / 100) * ht.SaleOff)))đ/@V308CMS.Common.ConverterUlti.ConverUnitWeight(ht.Group)
                                                </div>
                                                <div class="b7"><span class="rating is-rating only-display" data-value="@ht.getReview()"><span></span><span></span><span></span><span></span><span></span></span><span style="display: inline; font-size: 15px; margin-left: 3px;">(@ht.getReview())</span></div>
                                            </div>
                                            <div class="b4">
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </section>
                    }
                }
                }
                
            </div>
            @*  <div class="right-category">
                <section class="ifo-mrt"><a class="mrt-head"><span class="avsp">
                    <img src="//img.disieuthi.vn/Media/logo/lytuong-2.png" alt="Ideal Foods">
                </span>
                    <h3><span class="v1">@Model.Market.UserName        </span></h3>
                    <span class="rating is-rating only-display" data-value="3"><span></span><span></span><span></span><span></span><span></span></span>
                    <!--<span class="tile-flag-title"></span>-->
                </a>
                    <div class="mrt-dtl">
                        <div class="rw-mrt"><span class="rw-mrt-tl">Số lượt mua:            </span><span class="rw-mrt-ct">313            </span>
                            <div class="fa fa-question-circle q-ifo">
                                <div class="content">Số lượt mua sản phẩm của nhà cung cấp này.</div>
                            </div>
                        </div>
                        <div class="rw-mrt"><span class="rw-mrt-tl">Số người mua:            </span><span class="rw-mrt-ct">193            </span>
                            <div class="fa fa-question-circle q-ifo">
                                <div class="content">Số người đã mua sản phẩm của nhà cung cấp này.</div>
                            </div>
                        </div>
                        <div class="rw-mrt"><span class="rw-mrt-tl">Số giỏ hàng:            </span><span class="rw-mrt-ct">343            </span>
                            <div class="fa fa-question-circle q-ifo">
                                <div class="content">Số lượng giỏ hàng sản phẩm của nhà cung cấp được tạo.</div>
                            </div>
                        </div>
                    </div>
                    <!-- mrt-dtl -->
                    <div class="mrt-ft">
                        <div class="promo-mart" id="js-vendor-description">@Model.Market.Sumary</div>
                        <a class="js-show-vendor" data-id="57" data-name="Ideal Foods" href="javascript:void();">Xem chi tiết</a>
                    </div>
                    <!-- mrt-ft -->
                </section>
                @Html.Action("Right", "Widget")
            </div>*@
        </div>
    </div>
    <div class="clr"></div>
</section>
