@using V308CMS.Common
@model List<V308CMS.Data.ProductType>
@if (Model.Any())
{
    var listRootMenu = Model
        .Where(menu => menu.Parent == 0)
        .OrderBy(menu => menu.Number)
        .ToList();
    <ul class="nav navbar-nav nav-verticalmenu">
        @foreach (var root in listRootMenu)
        {
            var listParent = (from parent in Model
                              where parent.Parent == root.ID
                              let listSub = (from sub in Model
                                             where sub.Parent == parent.ID
                                             orderby sub.Parent, sub.Number
                                             select sub).ToList()
                              orderby listSub.Count descending
                              select new
                              {
                                  Category = parent,
                                  ListSub = listSub,
                                  CountSub = listSub.Count
                              }
                           ).ToList();
            if (listParent.Count == 0)
            {
                <li class="">
                    <a href="@url.productCategoryURL(root.Name, root.ID)" title="@root.Name">
                        <i class="fa fa-@root.Icon"></i>
                        <span class="menu-titlea">@root.Name</span>
                    </a>
                </li>

            }
            else
            {
                var isHasSubInParent = (listParent.Count > 0 &&
                                    listParent.FirstOrDefault().CountSub > 0);
                <li class="parent dropdown">
                    <a class="dropdown-toggle has-category"  href="@url.productCategoryURL(root.Name, root.ID)" title="@root.Name" target="_self">

                        <span class="menu-icon">
                            <i class="fa fa-@root.Icon"></i>
                            <span class="menu-titlea">@root.Name</span>
                        </span>
                    </a>
                    <i class="fa fa-angle-right"></i>
                    <div class="dropdown-menu @(isHasSubInParent?"dropdown-sub sub-apmegamenu-1":"level1") " @(isHasSubInParent ? "style=width:640px" : "")>
                        <div class="dropdown-menu-inner right_bottom">
                            @*<div class="image ">
                                <img src="@root.Image.ToUrl()" class="img-responsive">
                            </div>*@
                            <div class="row">
                                <div class="mega-col col-sm-12  @(isHasSubInParent?"menulink":"")">
                                    <div class="row">
                                        @if (!isHasSubInParent)
                                        {
                                            <div class="mega-col-inner">
                                                <ul>
                                                    @foreach (var parent in listParent)
                                                    {
                                                        <li class="">
                                                            <a class="" href="@url.productCategoryURL(parent.Category.Name, parent.Category.ID)" title="@parent.Category.Name">
                                                                <span class="">@parent.Category.Name</span>
                                                            </a>
                                                        </li>
                                                    }
                                                </ul>
                                            </div>
                                        }
                                        else
                                        {
                                            var totalParent = listParent.Count;
                                            var totalColumn = 12 / totalParent;
                                            foreach (var parent in listParent)
                                            {
                                                <div class="col-sm-@totalColumn">
                                                    <div class="mega-col-inner ">
                                                        <div class="menu-title">
                                                            <a href="@url.productCategoryURL(parent.Category.Name, parent.Category.ID)" title="@parent.Category.Name">
                                                                    @parent.Category.Name
                                                            </a>
                                                        </div>
                                                        @if (parent.ListSub.Count > 0)
                                                        {
                                                            <div class="widget-inner">
                                                                <ul class="nav-links">
                                                                    @foreach (var sub in parent.ListSub)
                                                                    {
                                                                        <li class="">
                                                                            <a href="@url.productCategoryURL(sub.Name, sub.ID)" title="@sub.Name">
                                                                                @sub.Name
                                                                            </a>
                                                                        </li>
                                                                    }
                                                                </ul>
                                                            </div>
                                                        }

                                                    </div>
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            }


        }

    </ul>
}





