<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    @RenderSection("header",false)
    @Html.Action("Resources", "Block")

</head>
<body>
    <header>
            @Html.Action("Header", "Block")
    </header>
    <nav class="navbar-toggleable-md  bg-mpstart">
	    <div class="container">
	        <div class="collapse navbar-collapse">@Html.Action("MainMenu", "Block")</div>
	    </div>
    </nav>
    <div class="main-content">
	    <div class="container">
		    <div class="row">
                <div class="col-3">
                    <div id="leftcol"> @Html.Action("LeftColumn", "Block")</div>
                </div>
                <div class="col-9">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    @Html.Action("Footer", "Block")
</body>
</html>