@using V308CMS.Admin.Helpers.Url
@model V308CMS.Admin.Models.ProfileChangePassworModels
@{
    ViewBag.Title = "Thay đổi mật khẩu";
    Layout = "~/Views/Shared/_LayoutV2.cshtml";
}
<div class="panel panel-primary">
    <div class="panel-body">
        <form method="post" role="form" action="@Url.ProfileChangePasswordUrl()">        
           @Html.AntiForgeryToken()
        <div class="row">
            @Html.ValidationSummary(true)
            <div class="col-lg-6">
                <div class="form-group">
                    @Html.LabelFor(profile => Model.OldPassword)
                    @Html.PasswordFor(profile => Model.OldPassword, new { @class = "form-control"})
                    @Html.ValidationMessageFor(profile => Model.OldPassword)
                </div>
                <div class="form-group">
                    @Html.LabelFor(profile => Model.NewPassword)
                    @Html.PasswordFor(profile => Model.NewPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(profile => Model.NewPassword)
                </div>
                <div class="form-group">
                    @Html.LabelFor(profile => Model.ConfirmPassword)
                    @Html.PasswordFor(profile => Model.ConfirmPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(profile => Model.ConfirmPassword)
                </div>               
                <button type="submit" class="btn btn-success" name="Save" value="true">Đồng ý</button>            
            </div>
        </div>
        </form>
    </div>
</div>

