@model V308CMS.Models.ForgotPasswordModels
@using V308CMS.Helpers.Url
@{
    Layout = "~/Views/themes/" + ViewBag.domain + "/Layout/Layout.cshtml";
}
@section header {
    <title>@ViewBag.SiteName - Quên mật khẩu</title>
}
@section Breadcrumb{
    <div class="clearfix breadcrumb-wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumb">
                        <h2></h2>
                        <a href="/" title="Back to the frontpage">Home</a>
                        <span class="icon"><i class="fa fa-circle"></i></span>
                        <strong>
                            Quên mật khẩu
                        </strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<div class="create-an-account">
    <header class="page-header">
        <h1>Quên mật khẩu</h1>
        <div class="action-btn">
            <p>
                Vui lòng nhập địa chỉ Email đăng ký tài khoản. Chúng tôi sẽ gửi đường link thay đổi mật khẩu qua hòm thư của bạn.
            </p>
        </div>
    </header>
    <span class="field-validation-error">@Html.Raw(ViewBag.Error)</span>
    <form method="post" action="@Url.AccountForgotPasswordUrl()" id="create_customer" accept-charset="UTF-8">
        <input type="hidden" value="create_customer" name="form_type">
        <input type="hidden" name="utf8" value="✓">
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <div id="token">
            <label for="token"><span>Email : </span><em>*</em></label>
            @Html.TextBoxFor(m => m.Email, new { placeholder = "Nhập Email đăng ký tài khoản", autocomplete = "on" })
            @Html.ValidationMessageFor(m => m.Email)
        </div>

        <div class="action-btn">
            <p>
                <input type="submit" value="Đồng ý" class="btn">
            </p>
        </div>
    </form>
</div>
