@using V308CMS.Helpers
@using V308CMS.Helpers.Url
@using ModelState = System.Web.ModelBinding.ModelState
@model V308CMS.Models.LoginModels
@{
    Layout = "~/Views/themes/" + ViewBag.domain + "/Layout/Layout.cshtml";
}
@section header {
    <title>@ViewBag.SiteName - Đăng nhập</title>
}
<div class="box-detail box-shadow">
    <fieldset class="container">
        <form method="post" action="@Url.AccountLoginUrl()" id="customer_login" accept-charset="UTF-8">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.ReturnUrl)
            <input type="hidden" value="customer_login" name="form_type">
            <input type="hidden" name="utf8" value="✓">

            <h1 class="text-primary mt-3" >Đăng nhập</h1>


            <p class="field-validation-error pb-3">@Html.Raw(ViewBag.Error)</p>
            <div class="form-group">
                <label for="customer_userName"><span>Email</span><em>*</em></label>
                @Html.TextBoxFor(m => m.Email,new { @class="form-control"})
                @Html.ValidationMessageFor(m => m.Email)
            </div>

            <div class="form-group">
                <label for="customer_password"><span>Mật khẩu</span><em>*</em></label>
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Password)
            </div>
                <fieldset class="form-group">

                    <input type="submit" class="btn btn-primary" value="Đăng nhập">

                    <p class="mt-3">
                        Chưa có tài khoản? Nhấn vào <a href="@Url.AccounRegisterUrl()" title="Đăng ký tài khoản" class="text-bold">đây</a> để đăng ký tài khoản
                    </p>
                    <p class="last">
                        Quên mật khẩu? Nhấn vào <a href="#" onclick="showRecoverPasswordForm();return false;" class="text-bold">đây</a>
                        <span>hoặc</span> <a href="/" class="text-bold">Quay lại trang chủ</a>
                    </p>
                </fieldset>
</form>
        <div id="recover_password" style="display: none;">
            <header class="page-header">
                <h2>Quên mật khẩu</h2>
            </header>
            <p>Vui lòng nhập Email được sử dụng để đăng ký tài khoản.</p>
            <form method="post" action="@Url.AccountForgotPasswordUrl()" accept-charset="UTF-8">
                @Html.AntiForgeryToken()
                <input type="hidden" value="recover_customer_password" name="form_type">

                <input type="hidden" name="utf8" value="✓">
                <label for="recover-email">Email</label>
                <input type="email" value="" name="email" id="recover-email" placeholder="Nhập Email">
                <div class="action-btn">
                    <p><input type="submit" class="btn" value="Đồng ý"></p>
                    hoặc <a href="#" onclick="hideRecoverPasswordForm();return false;">Hủy bỏ</a>
                </div>
            </form>
        </div>
</div>


    <script>
        /*
          Show/hide the recover password form when requested.
          I'd suggest using some CSS3 transitions to make this change look cool,
          but this gets the job done for now.
        */
        function showRecoverPasswordForm() {
            document.getElementById('recover_password').style.display = 'block';
            document.getElementById('customer_login').style.display = 'none';
        }

        function hideRecoverPasswordForm() {
            document.getElementById('recover_password').style.display = 'none';
            document.getElementById('customer_login').style.display = 'block';
        }

        // Allow deep linking to the recover password form
        if (window.location.hash == '#recover') { showRecoverPasswordForm() }

        // reset_success is only true when the reset form is

    </script>
