@model V308CMS.Models.ProductCategoryViewModels
@using V308CMS.Data;
@using V308CMS.Common;
@using V308CMS.Helpers.Url
@using V308CMS.Models
@{
    Layout = "~/Views/themes/" + ViewBag.domain + "/Layout/Layout.cshtml";
}

@section header {
    <title>Danh mục - @Model.Category.Name</title>
    <meta name="keywords" content="@Model.Category.Name">
    <meta property="og:url" content="@Ultility.ImgUrl("")">
    <meta property="og:type" content="website" />
    <meta property="og:title" content="@Model.Category.Name">
    <meta property="og:image" content="@Ultility.ImgUrl(@Model.Category.Image)">
    <meta property="og:description" content="@Model.Category.Description">
}

<div class="box-items box-shadow mt-0">
    <div class="container">
        <h4>@url.productCategory(Model.Category.Name, Model.Category.ID)</h4>
        @if (Model.ListProduct != null && Model.ListProduct.Count > 0)
        {

            <div class="row">
                @foreach (Product prod in Model.ListProduct)

                {
                    @Html.Action("ProductBlockType1_4", "Block", prod)

                }
            </div>

            <div class="row pt-2">
                <div class="col">
                   
                        @Html.Partial("PaginationComponent", new PaginationModels
                       {
                           TotalPages = Model.TotalPage,
                           BaseUrl = Url.HomeCategoryUrl(Model.Filter, Model.CategoryId, Model.Sort),
                           CurrentPage = Model.Page,
                           PageParamFormat = @"page=\d+",
                           RecordPerPages = 5
                       })

                    

                </div>
            </div>
        }
        else
        {
            <div class="row text-center">
                <div class="col m-5">Không Có Sản Phẩm nào.</div>
            </div>
        }