@using V308CMS.Helpers.Url
@model V308CMS.Data.NewsDetailPageContainer
@{
    Layout = "~/Views/themes/" + ViewBag.domain + "/Layout/Layout.cshtml";

}
@section header {
    <title>@Model.NewsItem.Title</title>
    <meta name="description" content="@Model.NewsItem.Summary" />
    <meta name="keywords" content="@Model.NewsItem.Keyword" />
    <meta content="@Model.NewsItem.Title - @ViewBag.SiteName" itemprop="headline" property="og:title" />
    <meta content="@Request.Url" itemprop="url" property="og:url" />
    <meta content="@Model.NewsItem.Image.ToUrl()" itemprop="thumbnailUrl" property="og:image" />
    <meta content="@Model.NewsItem.Summary" itemprop="description" property="og:description" />
    <meta name="tt_site_id" content="1003834" />
    <meta name="tt_category_id" content="@Model.NewsItem." />
    <meta name="tt_article_id" content="@Model.NewsItem.ID" />
    <meta name="tt_page_type" content="article" />
}
<div class="box-detail box-shadow">


    <div class="container">
        <div class="row  p-2 pt-4 pb-4">
            @if (Model.NewsItem != null)
            {
                
                <div class="col-12 blog-detail col-main">
                    <header class="page-header">
                        <h1>
                            <a href="@Url.NewsDetailUrl(Model.NewsItem)" title="@Model.NewsItem.Title">
                                @Model.NewsItem.Title
                            </a>
                        </h1>
                        <div class="col-md-12 col-sm-12 col-xs-12" style="padding-bottom: 15px;">
                            <div class="fb-like" data-href="@Request.Url" data-layout="standard" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
                        </div>


                        <div class="block-images">
                            <img src="@Model.NewsItem.Image.ToUrl()" alt="@Model.NewsItem.Title" />
                        </div>
                    </header>

                    <div class="rte">
                        @Html.Raw(Model.NewsItem.Detail)
                    </div>
                    @if (Model.NextNewsItem != null || Model.PreviousNewsItem != null)
                    {
                        <div class="action-btn">
                            @if (Model.PreviousNewsItem != null)
                    {

                                <span class="left"><a href="@Url.NewsDetailUrl(Model.PreviousNewsItem)" title="@Model.PreviousNewsItem.Title">Tin cũ</a></span>
                            }
                            @if (Model.NextNewsItem != null)
                    {
                                <span class="right"><a href="@Url.NewsDetailUrl(Model.NextNewsItem)" title="@Model.NextNewsItem.Title">Tin mới</a></span>

                            }
                        </div>

                    }
                </div>
            }
        </div>
    </div>
</div>
        