@model V308CMS.Data.Models.Video
@using V308CMS.Common;
@using V308CMS.Helpers.Url
@{
    Layout = "~/Views/themes/" + ViewBag.domain + "/Layout/Layout.cshtml";
}


@section header {
    <title>Tin video - @Model.Title</title>
   
    <meta property="og:url" content="@V308CMS.Common.Ultility.ImgUrl("")">
    <meta property="og:type" content="website" />
    <meta property="og:title" content="@Model.Title">
    <meta property="og:image" content="https://i.ytimg.com/vi/@Model.Code/hqdefault.jpg">
    <meta property="og:description" content="@Model.Title">
}

<div class="box-detail box-shadow">
   
    <div class="container">
        <div class="row  p-2 pt-4 pb-4">
        <div class="col-md-12 col-sm-12 col-xs-12" style="padding-bottom: 15px;">
            <div class="fb-like" data-href="@Request.Url" data-layout="standard" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
        </div>
        <div class="col-12">
            <iframe src="https://www.youtube.com/embed/@Model.Code?autoplay=1" frameborder="0" allowFullScree style="width:100%; height:auto; min-height:400px;">  </iframe>
        </div>
        </div>
        
    </div>
</div>



@*@if (Model.List != null && Model.List.Count > 0)
{ 
    <div class="box-items box-shadow">
	    <div class="container">
		    <h4>Video Liên Quan</h4>
		    <div class="row">
            @foreach (V308CMS.Data.News video in Model.List)
            {
                <div class="col-md-4">
                    @Html.Action("YoutubeBlock", "Block",video)
                </div>
                
            }
            </div>
        </div>
    </div>
}*@
