@using V308CMS.Admin.Helpers.Url
@using V308CMS.Admin.Models
@{
    Layout = null;
    ViewBag.Title = "Trang chủ";
}
<!DOCTYPE html>
<html lang="en">
<head>
    @Html.Partial("_Header")
</head>

<body>

    <div id="wrapper">
        @Html.Partial("_Navigation")
        <div id="page-wrapper" style="min-height: 923px;">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Dashboard</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="async col-lg-3 col-md-6" data-url="@Url.CountAsyncUrl(new { type = (byte)CountBoxType.CountOrder})">

                </div>
                <div class="async col-lg-3 col-md-6" data-url="@Url.CountAsyncUrl(new { type = (byte)CountBoxType.CountUser})">

                </div>
                <div class="async col-lg-3 col-md-6" data-url="@Url.CountAsyncUrl(new { type = (byte)CountBoxType.CountContact})">

                </div>

                <div class="async col-lg-3 col-md-6" data-url="@Url.CountAsyncUrl(new { type = (byte)CountBoxType.CountProduct})">

                </div>
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="async col-md-12" data-url="@Url.LoadLastestOrderAsyncUrl()">

                </div>
                <div class="async col-md-12" data-url="@Url.LoadLastestUserAsyncUrl()">

                </div>
                <div class="async col-md-12" data-url="@Url.LoadLastestContactAsyncUrl()">

                </div>
                <!-- /.col-lg-4 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    @Html.Partial("_Js")
    <script type="text/javascript">
        mpStart.loadAsync();
    </script>

</body>

</html>