@using V308CMS.Sale.Helpers;
<ul class="adminmenu">
    <li class="@HtmlAffiliate.MenuActive("dashboard")" >
        <a href="/dashboard"  ><span class="fa fa-home"></span>Trang Chủ</a>
    </li>
    <li class="@HtmlAffiliate.MenuActive("san-pham")" >
        <a href="/san-pham"><span class="fa fa-shopping-cart"></span>Sản Phẩm</a>
    </li>
    <li class="noborder">
        <a href="javascript:void(0)"><span class="fa fa-gift"></span>Tin Khuyến mại</a>
        <ul>
            <li class="@HtmlAffiliate.MenuActive("khuyen-mai-moi")"><a href="/khuyen-mai-moi">Khuyến mại mới</a></li>
            <li class="@HtmlAffiliate.MenuActive("ma-giam-gia")" ><a href="/ma-giam-gia">Mã giảm giá
                @*<span class="notification-red"></span>*@
            </a></li>
            <li class="@HtmlAffiliate.MenuActive("chuong-trinh-thuc-day")"  ><a href="/chuong-trinh-thuc-day">Chương trình thúc đẩy</a></li>
        </ul>
    </li>
    <li class="noborder">
        <a href="javascript:void(0)"><span class="fa fa-dollar"></span>Công cụ kiếm tiền</a>
        <ul>
            <li class="@HtmlAffiliate.MenuActive("link/tao-moi")" ><a href="/link/tao-moi">Tạo Link bán hàng</a></li>
            <li class="@HtmlAffiliate.MenuActive("link")"><a href="/link">Link đã tạo</a></li>
            <li class="@HtmlAffiliate.MenuActive("banner/tao-moi")" ><a href="/banner/tao-moi">Tạo Banner</a></li>
            <li class="@HtmlAffiliate.MenuActive("tao-ma-giam-gia")" ><a href="/tao-ma-giam-gia">Tạo Voucher</a></li>
            <li class="@HtmlAffiliate.MenuActive("website")"><a href="/website">Tạo Website riêng</a></li>
        </ul>
    </li>
    <li class="noborder">
        <a href="javascript:void(0)"><span class="fa fa-paste"></span>Báo cáo</a>
        <ul>
            
            <li class="@HtmlAffiliate.MenuActive("order")" ><a href="/order">Báo cáo đơn hàng</a></li>
            @HtmlAffiliate.li_anchor("Kiểm tra mã đơn hàng", "order/search")

            @*<li class="@HtmlAffiliate.MenuActive("order/report")" ><a href="/order/report">Báo cáo Hiệu quả</a></li>*@
            @HtmlAffiliate.li_anchor("Báo cáo Hiệu quả", "/partner/reportoverview")
            
            
            <li class="@HtmlAffiliate.MenuActive("link/report")" ><a href="/link/report">Báo cáo click</a></li>
@*            <li><a href="javascript:void(0)">Top giảm giá</a></li>*@
            
        </ul>
    </li>
    <li class="noborder">
        <a href="javascript:void(0)"><span class="fa fa-headphones"></span>Hỗ Trợ</a>
        <ul>
            <li class="@HtmlAffiliate.MenuActive("huong-dan")" ><a href="/huong-dan">Hướng dẫn</a></li>
            <li class="@HtmlAffiliate.MenuActive("quy-dinh")" ><a href="/quy-dinh">Quy định</a></li>
            <li class="@HtmlAffiliate.MenuActive("chinh-sach")" ><a href="/chinh-sach">Chính sách</a></li>
            <li class="@HtmlAffiliate.MenuActive("ve-affiliate")" ><a href="/ve-affiliate">Về Affiliate</a></li>
        </ul>
    </li>
    <li class="noborder">
        <a href="javascript:void(0)"><span class="fa fa-group"></span>Hệ Thống Affiliate</a>
        <ul>
            <li class="@HtmlAffiliate.MenuActive("he-thong")" ><a href="/he-thong">Hệ thống</a></li>
            <li class="@HtmlAffiliate.MenuActive("top-xuat-sac")" ><a href="/top-xuat-sac">Top xuất sắc</a></li>
            <li class="@HtmlAffiliate.MenuActive("vinh-danh-ca-nhan")" ><a href="/vinh-danh-ca-nhan">Vinh danh cá nhân</a></li>
            <li class="@HtmlAffiliate.MenuActive("ho-tro")" ><a href="/ho-tro">Hỗ trợ Affiliate</a></li>
            <li class="@HtmlAffiliate.MenuActive("-cau-kien-nghi")" ><a href="/yeu-cau-kien-nghi">Kiến nghị lãnh đạo</a></li>
        </ul>
    </li>
</ul>
