@model V308CMS.Data.PageFooterControl
<div class="shopify-section">
    <div class="home-block-main" style="background-image: url(/Content/images/background-newsletter_2048x.jpg);">
        <div class="container">
            <div class="row feature-wrap-content">
                <div class="col-lg-6 col-xs-12 home-newsletter">
                    <div class="newsletter">
                        <h3 class="module-title"><span>Nhận Tin</span></h3>
                        <div class="content">
                            <form action="" method="post" name="mc-embedded-subscribe-form" target="_blank" class="input-group">
                                <input type="email" value="" placeholder="DiaChiEmailCuaBan@TenMien.com" name="EMAIL" class="input-group-field" aria-label="Địa chỉ email của bạn">
                                <span class="input-group-btn">
                                    <input type="submit" class="btn" value="Đăng ký" name="subscribe">
                                </span>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xs-12 home-social">
                    <div class="title-social">FOLLOW US:</div>
                    <div class="footer-icon-share">
                        <a href="javascript:void(0)"><img src="~/Content/images/social/google.png" /></a>
                        <a href="javascript:void(0)"><img src="~/Content/images/social/facebook.png" /></a>
                        <a href="javascript:void(0)"><img src="~/Content/images/social/zalo.png" /></a>
                        <a href="javascript:void(0)"><img src="~/Content/images/social/youtube.png" /></a>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <footer class="footer-container  footer-layout-1 m-0">
        <div class="container">
            <div class="footer-top">
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-12 footer-contact">
                        <h3 class="module-title">Liên hệ với @ViewBag.SiteName</h3>
                        <ul class="content">
                            <li>@ViewBag.CompanyHeaderAddress</li>
                            <li>@Html.Raw(ViewBag.FooterCompanyContact)</li>
                        </ul>
                    </div>
                    @{
                        int footerGroup = 0; int colLimit = 4;
                        if (ViewBag.FacebookPage != null & ViewBag.FacebookPage is string)
                        {
                            colLimit = 3;
                        }
                    }
                    
                    @if (Model.NewsCategorys != null && Model.NewsCategorys.Count() > 0)
                    {
                        foreach (V308CMS.Data.NewsGroupPage group in Model.NewsCategorys)
                        {
                            footerGroup++;
                            if (footerGroup >= colLimit)
                            {
                                break;
                            }
                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <h3 class="module-title">@group.Name</h3>
                            <ul class="content">
                                 @if (group.NewsList != null && group.NewsList.Count() > 0)
                                {
                                    foreach (V308CMS.Data.News news in group.NewsList)
                                    {
                                        <li>@Html.Raw(V308CMS.Common.url.article(news.Title, news.ID))</li>
                                    }
                                }
                            </ul>
                        </div>
                        }
                    }
                    @if (ViewBag.FacebookPage != null & ViewBag.FacebookPage is string) {
                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <h3 class="module-title">Fan Page Facebook</h3>
                            <p class="content">

                            @Html.Raw("<iframe src=\"http://www.facebook.com/plugins/likebox.php?profile=1&width=300&height=170&connections=10&stream=true&header=true&id=" + ViewBag.FacebookPage + "\" scrolling='no' frameborder='0' allowtransparency='true' style='border: none; overflow: hidden; width: 100%; height: 130px'></iframe>")
                            </p>
                        </div>
                    }

                </div>
            </div>

        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="border-footer">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <address>©@DateTime.Now.Year.ToString() Copyright. Đã đăng ký bản quyền</address>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="paypal-footer">
                                <ul><li><img src="/Content/images/z_1600x.png" alt="Hình thức thanh toán" /></li></ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="loading cbox">
        Đang xử lý dữ liệu ...
    </div>
    <div class="ajax-error-cbox cbox">
        <div class="modal-inner">

            <div class="ajax-error-title">Error</div>
            <div class="ajax-error-message"></div>
        </div>
    </div>
    <div class="ajax-success-cbox cbox">
        <div class="content">
            <div class="success-message show-cart">
                <div class="mesage-cart">
                    Success! You&#39;ve added this item to your cart.
                </div>
                <div class="button-link-cart">
                    <div class="view-cart"><a href="/cart">View Cart</a></div>
                    <button class="btn" onclick="window.location='/checkout'">Check Out</button>
                </div>
            </div>
            <p class="success-message show-wishlist">Success! You&#39;ve added to wishlist success.</p>
            <a href="javascript:void(0)" class="close-cbox"><span class="icon_close"></span></a>
        </div>
    </div>

</div>
