<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="shortcut icon" href="@ViewBag.ThemesPath/images/favicon.png" type="image/png">
    <link rel="icon" href="@ViewBag.ThemesPath/images/favicon.png" type="image/png" />
    @RenderSection("header", false)
    @Html.Action("Resources", "Theme")
    <link href="@ViewBag.ThemesPath/css/backend.css" rel="stylesheet" type="text/css" />
</head>
<body 
    @if (@Request.RequestContext.RouteData.Values["Action"] == "Index")
    { 
        @:class="template-index" 
    }
    else
    { 
        @:id="facial-cleansing-pad" class="template-product"
    }
>
    <div class="wrapper ">
        <div id="shopify-section-header" class="shopify-section">
            @Html.Action("Header", "Theme")
        </div>
        <div class="container-block m-0" data-section-id="1475814045391" data-section-type="slideshow-section">
            <main class="container main-content border-col">
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-12 leftmenu">
                         @Html.Action("AdminMenu", "Theme")
                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-12 mainbody">
                        @using V308CMS.Sale.Helpers
                        @if (!string.IsNullOrWhiteSpace(ViewContext.GetFlashMessage()))
                        {
                            <div class="alert alert-dismissable alert-success" style="margin-top: 15px;">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                @ViewContext.GetFlashMessage()
                            </div>
                        }
                        @RenderBody()
                    </div>
                     
                </div>

            </main>
            @Html.Action("BlockNews12", "Theme")
            @Html.Action("Footer", "Theme")
        </div>

        
    </div>
</body>
</html>
