@using V308CMS.Common
@using V308CMS.Helpers
@using V308CMS.Helpers.Url
@model V308CMS.Models.ShoppingCart
@{
    Layout = "~/Views/themes/" + ViewBag.domain + "/Layout/Layout.cshtml";
}
@section BodyId{@Html.Raw("your-shopping-cart")}
@section BodyClass{@Html.Raw("template-cart")}
@section header {
    <title>Giỏ hàng - @ViewBag.SiteName</title>
}
@section Breadcrumb{
    <div class="clearfix breadcrumb-wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumb">
                        <h2></h2>
                        <a href="/" title="Trang chủ">Trang chủ</a>

                        <span class="icon"><i class="fa fa-circle"></i></span>
                        <strong>
                            Giỏ hàng
                        </strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div id="cart">
    <div class="row">
        <div class="col-lg-12">
            @if (Model.Items.Any())
            {
                <form action="@Url.CheckoutCartUrl()" method="post" id="cartform">
                    @Html.AntiForgeryToken()
                    <span>
                        <h5>
                            GIỎ HÀNG
                        </h5>
                        <span>
                            (@Model.Items.Count sản phẩm)
                        </span>
                    </span>
                    <table>
                        <thead>
                            <tr>
                                <th class="image">&nbsp;</th>
                                <th class="item">Tên</th>
                                <th class="qty">Số lượng</th>
                                <th class="price">Đơn giá</th>
                                <th class="remove">&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var cart in Model.Items)
                            {
                                <tr>
                                    <td class="image">
                                        <div class="product_image">                                           
                                            <a href="@url.productURL(cart.ProductItem.Name, cart.ProductItem.Id)" title="Xem chi tiết sản phẩm @cart.ProductItem.Name">
                                                <img src="@cart.ProductItem.Avatar.ToUrl(152, 160)" alt="@cart.ProductItem.Name">
                                            </a>
                                        </div>
                                    </td>
                                    <td class="item">
                                        <a href="@url.productURL(cart.ProductItem.Name, cart.ProductItem.Id)" title="Xem chi tiết sản phẩm @cart.ProductItem.Name">
                                            <strong>
                                                @cart.ProductItem.Name
                                            </strong>

                                        </a>
                                    </td>
                                    <td class="qty">
                                        <input type="text" size="4" name="updates[]" id="updates_@cart.ProductItem.Id" value="@cart.Quantity" onfocus="this.select();" class="tc item-quantity">
                                    </td>
                                    <td class="price"><span class="money">@cart.UnitPrice.ToPriceString()</span></td>
                                    <td class="remove">
                                        <a href="/cart/remove?id=@cart.ProductItem.Id&quantity=0" class="cart" title="Xóa sản phẩm khỏi giỏ hàng"><i class="icon_close"></i></a>
                                    </td>
                                </tr>
                            }
                            <tr class="summary">
                                <td colspan="3">Tổng tiền</td>
                                <td class="price"><span class="total"><strong><span class="money">@Model.SubTotal.ToPriceString()</span></strong></span></td>
                                <td>&nbsp;</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-md-6 col-sm-6 span6 cart-buttons inner-right inner-left" style="float: right">
                            <a class="btn" title="Tiếp tục mua hàng" href="/"> Tiếp tục mua hàng</a>
                            <input type="submit" id="checkout" class="btn" name="checkout" value="Thanh Toán" onclick="@(AuthenticationHelper.IsAuthenticated==false?"loginAndBuy(); return false;" :"buyNow();return false;")">
                        </div>
                    </div>
                </form>
            }
            else
            {
                <div class="empty-cart">
                    <img src="/Content/Images/cart-empty.png" alt="Không có sản phẩm nào trong giỏ hàng của bạn.">
                    <p class="message">Không có sản phẩm nào trong giỏ hàng của bạn.</p>
                    <a href="/" class="btn btn-yellow">Tiếp tục mua sắm</a>
                </div>
            }
        </div>
        <div class="clearfix"></div>

    </div>

</div>
