@using V308CMS.Common
@using V308CMS.Data.Enum
@using V308CMS.Helpers.Url
@using V308CMS.Models
@model V308CMS.Models.ProductCategoryViewModels
@{
    Layout = "~/Views/themes/" + ViewBag.domain + "/Layout/Layout.cshtml";
}
@section BodyId{@Html.Raw("category")}
@section BodyClass{@Html.Raw("template-collection")}
@section header {
    <title>@Model.Category.Name - @ViewBag.SiteName</title>
    <meta name="keywords" content="@Model.Category.Name">
    <meta property="og:url" content="@Request.Url">
    <meta property="og:type" content="website" />
    <meta property="og:title" content="@Model.Category.Name">
    <meta property="og:image" content="@Ultility.ImgUrl(@Model.Category.Image)">
    <meta property="og:description" content="@Model.Category.Description">
}

<div class="row col-sidebar-right">

<div class="col-fillter-product col-md-3 col-sm-3 col-xs-12">
    <div class="col-md-3 col-sm-3 col-xs-12 col-left" id="filter-sidebar">
        @if (Model.ListSubCategory != null && Model.ListSubCategory.Count > 0)
        {
            <div class="widget sidebar-links">
                <div class="block-title">
                    <span>
                        Danh mục
                    </span>
                </div>
                <div class="widget-content">
                    @{Html.RenderPartial("ListSubCategory", Model.ListSubCategory);}
                </div>
            </div>
         }
        <div class="block-title" style="display: none;">
            <span>Filter Selection</span>
        </div>
        <div class="sidebar-block">
            <div class="sidebar-custom sliebar-price size">
                @{Html.RenderAction("LoadListProductBrandFilterAsync", "Async", new {categoryId = Model.CategoryId, currentRouteData = HttpContext.Current.Request.RequestContext.RouteData.Values});}
            </div>

            <div class="sidebar-custom size">
                @{ Html.RenderAction("LoadListManufacturerFilterAsync", "Async", new { categoryId = Model.CategoryId, currentRouteData = HttpContext.Current.Request.RequestContext.RouteData.Values });}
            </div>
            <div class="sidebar-custom sliebar-price">
                @{Html.RenderAction("LoadListPriceFilterAsync", "Async", new { currentRouteData = HttpContext.Current.Request.RequestContext.RouteData.Values });}
            </div>
        </div>
        <div class="async bestseller-sidebar bestseller-homepage" data-url="@Url.LoadListProductBestSellerAsyncUrl(Model.CategoryId)"></div>
        @{Html.RenderAction("LoadLeftBannerAsync", "Async", new {position=BannerPositionEnum.CategoryLeft}); }     
    </div>
</div>
<div class="col-md-9 col-sm-12 col-xs-12 col-main">
    @if (@Model.Category.ImageBanner.ToUrl(870, 225).IndexOf("noimage.jpg", StringComparison.Ordinal) == 0)
    {
        <header class="page-header">
            <div class="images">
                <img src="@Model.Category.ImageBanner.ToUrl(870, 225)" alt="@Model.Category.Name">
            </div>
        </header>
    }
    <div class="toolbar ">

        <div class="toolbar-mode row">
            <div class="col-md-8 col-sm-8 col-xs-12">
                <div class="filter-collection-left">
                    <a class="btn">Lọc</a>
                </div>
                <div class="collection-view">
                    <label>Hiển thị</label>
                    <a class="change-view grid active" id="grid" rel="tooltip" title="Grid view" onclick="display('grid');"><i class="fa fa-th" aria-hidden="true"></i></a>
                    <a class="change-view list" id="list" rel="tooltip" title="List view" onclick="display('list');"><i class="fa fa-list-ul" aria-hidden="true"></i></a>

                </div>
                <div class="browse-tags">
                    <label>Sắp xếp</label>
                    @Html.DropDownListFor(filter => Model.Sort, Model.ListSort, new {@class = "sort-by"})
                </div>
            </div>
        
        </div>
    </div>
    <script>        
        jQuery('.sort-by')
            .val('@Model.Sort')
            .bind('change', function() {
                Shopify.queryParams.sort = jQuery(this).val();
                location.search = jQuery.param(Shopify.queryParams).replace(/\+/g, '%20');

            });

        function replaceUrlParam(url, paramName, paramValue) {
            var pattern = new RegExp('(' + paramName + '=).*?(&|$)'),
                newUrl = url.replace(pattern, '$1' + paramValue + '$2');
            if (newUrl == url) {
                newUrl = newUrl + (newUrl.indexOf('?') > 0 ? '&' : '?') + paramName + '=' + paramValue;
            }
            return newUrl;
        }

        jQuery(function() {
            jQuery('.filter-collection-left > a').on('click', function() {
                    jQuery('.wrapper').addClass('show-fillter');
                }
            );
            jQuery(document).mouseup(function(e) {

                var container = jQuery("#filter-sidebar");

                if (!container.is(e.target) // if the target of the click isn't the container...
                    && container.has(e.target).length === 0) // ... nor a descendant of the container
                {
                    jQuery('.wrapper').removeClass('show-fillter');
                }
            });

        });

        jQuery(function() {
            jQuery('.filter-collection-left > a').on('click', function() {
                    jQuery('.wrapper-container').addClass('show-fillter');
                }
            );
            jQuery(document).mouseup(function(e) {

                var container = jQuery("#filter-sidebar");

                if (!container.is(e.target) // if the target of the click isn't the container...
                    && container.has(e.target).length === 0) // ... nor a descendant of the container
                {
                    jQuery('.wrapper-container').removeClass('show-fillter');
                }
            });
            jQuery('body.template-collection .collection-view a').on('click', function() {
                jQuery('.collection-view a.active').removeClass('active');
                jQuery(this).addClass('active');

            });

            jQuery('body.template-collection .collection-view a.list').on('click', function() {
                jQuery('body.template-collection').find('.products-grid').addClass('product-list-item');
                if (jQuery('body.template-collection .products-grid').hasClass('product-grid-item')) {
                    jQuery('body.template-collection').find('.products-grid').removeClass('product-grid-item');

                } else {
                    jQuery('body.template-collection').find('.products-grid').addClass('');
                }

            });
            jQuery('body.template-collection .collection-view a.grid').on('click', function() {
                jQuery('body.template-collection').find('.products-grid').addClass('product-grid-item');
                if (jQuery('body.template-collection .products-grid').hasClass('product-list-item')) {
                    jQuery('body.template-collection').find('.products-grid').removeClass('product-list-item');

                } else {
                    jQuery('body.template-collection').find('.products-grid').addClass('');
                }
            });
            jQuery('body.template-collection .collection-view a.list').on('click', function() {
                jQuery('body.template-collection').find('.products-grids').addClass('product-list-item');
                if (jQuery('body.template-collection .products-grids').hasClass('product-grid-item')) {
                    jQuery('body.template-collection').find('.products-grids').removeClass('product-grid-item');

                } else {
                    jQuery('body.template-collection').find('.products-grids').addClass('');
                }

            });
            jQuery('body.template-collection .collection-view a.grid').on('click', function() {
                jQuery('body.template-collection').find('.products-grids').addClass('product-grid-item');
                if (jQuery('body.template-collection .products-grids').hasClass('product-list-item')) {
                    jQuery('body.template-collection').find('.products-grids').removeClass('product-list-item');

                } else {
                    jQuery('body.template-collection').find('.products-grids').addClass('');
                }
            });


        });
    </script>

    @if (Model.ListProduct != null && Model.ListProduct.Count > 0)
    {
        <div class="products-grid product-grid-item">
            @foreach (var product in Model.ListProduct)
            {
                {
                    Html.RenderPartial("ProductComponent", product);
                }
            }
        </div>         
        <div class="padding">
            <div class="toolbar toolbar-bottom">
                <ul class="pagination-page">
                    @Html.Partial("PaginationComponent", new PaginationModels
                    {
                        TotalPages = Model.TotalPage,
                        BaseUrl = Url.HomeCategoryUrl(Model.Filter,Model.CategoryId,Model.Sort),                                              
                        CurrentPage = Model.Page,
                        PageParamFormat = @"page=\d+",
                        RecordPerPages = 5
                     })
                </ul>
            </div>

        </div>
    }
</div>
<div class="overlay-filter"></div>
</div>
<script type="text/javascript">
    $(".async").each(function(index, item) {
        var url = $(item).data("url");
        if (url && url.length > 0) {
            $(item).html("<span>Loading...</span>");
            $(item).load(url, function(response, status, xhr) {
                if (status === "error") {
                    $(item).html("<span class='error'>Không thể tải dữ liệu</span>");
                }
            });
        }

    });
</script>
@section Script
{
    <script src="//cdn.shopify.com/s/files/1/1498/2346/t/12/assets/selectize.min.js?9436750478273192716" type="text/javascript"></script>
}