@model V308CMS.Models.ChangePasswordModels
@using V308CMS.Helpers
@using V308CMS.Helpers.Url
@{
    Layout = "~/Views/themes/" + ViewBag.domain + "/Layout/Layout.cshtml";
}
@section header {
    <title>@ViewBag.SiteName - Thay đổi mật khẩu</title>
}
@section Breadcrumb{
    <div class="clearfix breadcrumb-wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumb">
                        <h2></h2>
                        <a href="/" title="Back to the frontpage">Home</a>
                        <span class="icon"><i class="fa fa-circle"></i></span>
                        <strong>
                            Đổi mật khẩu
                        </strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<div class="create-an-account">
    <header class="page-header">
        <h1>Thay đổi mật khẩu</h1>
        <div class="action-btn">
            <p>
                Bạn muốn đăng nhập? <a href="@Url.AccountLoginUrl()" style="color: #007FF0">Đăng nhập</a>
            </p>
        </div>
    </header>
    <span class="field-validation-error">@Html.Raw(ViewBag.Error)</span>
    <form method="post" action="@Url.AccountChangePasswordUrl()" id="create_customer" accept-charset="UTF-8">
        <input type="hidden" value="create_customer" name="form_type">
        <input type="hidden" name="utf8" value="✓">
        @Html.AntiForgeryToken()
        <div id="old_password">
            <label for="old_password"><span>Mật khẩu hiện tại : </span><em>*</em></label>
            @Html.PasswordFor(m => m.OldPassword, new {placeholder = "Nhập Mật khẩu hiện tại"})
            @Html.ValidationMessageFor(m => m.OldPassword)
        </div>
        <div id="new_password">
            <label for="new_password"><span>Mật khẩu mới : </span><em>*</em></label>
            @Html.PasswordFor(m => m.NewPassword, new {placeholder = "Nhập Mật khẩu mới"})
            @Html.ValidationMessageFor(m => m.NewPassword)
        </div>
        <div id="confirm_password">
            <label for="confirm_password"><span>Mật khẩu xác nhận : </span><em>*</em></label>
            @Html.PasswordFor(m => m.ConfirmPassword, new {placeholder = "Nhập Mật khẩu xác  nhận"})
            @Html.ValidationMessageFor(m => m.ConfirmPassword)
        </div>

        <div class="action-btn">
            <p><input type="submit" value="Đồng ý" class="btn">
            </p>
        </div>
    </form>
</div>