@using V308CMS.Helpers.Url
@model V308CMS.Models.RegisterModels
@{
    Layout = "~/Views/themes/" + ViewBag.domain + "/Layout/Layout.cshtml";
}
@section header {
    <title>@ViewBag.SiteName - Tạo tài khoản mới</title>
}
@section Breadcrumb{
    <div class="clearfix breadcrumb-wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumb">
                        <h2></h2>
                        <a href="/" title="Back to the frontpage">Home</a>
                        <span class="icon"><i class="fa fa-circle"></i></span>
                        <strong>
                            Tạo tài khoản
                        </strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<div class="create-an-account">
    <header class="page-header">
        <h1>Tạo tài khoản</h1>
        <div class="action-btn">

            <p>
                Bạn đã có tài khoản ? <a href="@Url.AccountLoginUrl()" style="color: #007FF0">Đăng nhập</a>
            </p>
        </div>
    </header>
    <span class="field-validation-error">@Html.Raw(ViewBag.Error)</span>
    <form method="post" action="@Url.AccounRegisterUrl()" id="create_customer" accept-charset="UTF-8">
        <input type="hidden" value="create_customer" name="form_type">
        <input type="hidden" name="utf8" value="✓">
        @Html.AntiForgeryToken()
        <div id="username">
            <label for="username"><span>Email : </span><em>*</em></label>
            @Html.TextBoxFor(m => m.Email, new {placeholder = "Nhập email", autocomplete = "on"})
            @Html.ValidationMessageFor(m => m.Email)
        </div>
        <div id="password">
            <label for="password"><span>Mật khẩu : </span><em>*</em></label>
            @Html.PasswordFor(m => m.Password, new {placeholder = "Nhập mật khẩu"})
            @Html.ValidationMessageFor(m => m.Password)
        </div>
        <div id="confirm_password">
            <label for="confirm_password"><span>Mật khẩu xác nhận : </span><em>*</em></label>
            @Html.PasswordFor(m => m.ConfirmPassword, new {placeholder = "Nhập mật khẩu xác  nhận"})
            @Html.ValidationMessageFor(m => m.ConfirmPassword)
        </div>
        <div id="captcha">
            <label for="captcha"><span>Mã xác thực : </span><em>*</em></label>
            @Html.TextBoxFor(m=>m.Captcha, new {placeholder ="Nhập mã xác thực"})
            @Html.ValidationMessageFor(m=>m.Captcha)
            <img class="img-captcha" src="@Url.RegisterCaptchaUrl()" alt="captcha"/>
            <span class="refresh" onclick="show_captcha()">
                <img src="/Content/themes/myshopify/images/refresh.png" alt="Lấy mã xác thực mới" />
            </span>                     
        </div>

        <div class="action-btn">
            <p><input type="submit" value="Đăng ký" class="btn"></p>           
        </div>
    </form>

</div>
<script type="text/javascript">
    function show_captcha() {
        $(".img-captcha").removeAttr("src");
        $(".img-captcha").attr('src', '/Captcha/RegisterCaptcha?timestamp =' + new Date().getTime());
    }
    $("input[name='Email'").change(function() {
        var email = $(this).val();        
        if (email !== '') {
            $.post('@Url.AccountCheckEmail()', { "email": email }, function(response) {               
                if (response === 'exist') {
                    if ($('#UserName-Exist-error').length > 0) {
                        $('#UserName-Exist-error').text('Email này đã được sử dụng để đăng ký tài khoản.');
                        $('#UserName-Exist-error').show();
                    } else {
                        $("input[name='Email'").after("<span class='field-validation-error' data-valmsg-for='UserName' data-valmsg-replace='true'><span id='UserName-Exist-error' class=''>Email này đã được sử dụng để đăng ký tài khoản.</span></span>");                   
                    }
                } else {
                    $('#UserName-Exist-error').hide();
                }
            });

        }
    });

</script>