@using V308CMS.Common
@using V308CMS.Data
@using V308CMS.Helpers.Url
@model V308CMS.Data.NewsIndexPageContainer
@{  
    Layout = "~/Views/themes/" + ViewBag.domain + "/Layout/Layout.cshtml";

}
@section BodyId{@Html.Raw("news")}
@section BodyClass{@Html.Raw("template-blog")}
@section header {
    <title>Tin tức</title>
    <meta name="twitter:title" content="Mpstart, Tin tức">
    <meta name="twitter:description" content="Tin tức, thương mại điện tử, điện thoại">
}
@section Breadcrumb{
    <div class="clearfix breadcrumb-wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb">
                    <h2></h2>
                    <a href="/" title="Back to the frontpage">Trang chủ</a>
                    <span class="icon"><i class="fa fa-circle"></i></span>
                    <strong>
                        Tin tức
                    </strong>
                </div>
            </div>
        </div>
    </div>
</div>
}
    <div class="row">
        <div class="col-xs-12 col-md-9 col-sm-7 col-main">
            <div class="content-blog">                
                @if (Model.ListNews.IsHasData()){
                    <ul class="list-blog row">
                        @foreach (var newsItem in Model.ListNews)
                        {
                            <li class="col-xs-12">
                                <h3>
                                    <a href="@Url.NewsDetailUrl(newsItem)" title="@newsItem.Title">
                                        @newsItem.Title
                                    </a>
                                </h3>
                                <div class="blog-time">
                                    <span class="date-time">
                                    <span class="date-sub">Ngày đăng: </span>@newsItem.Date.ToDdmmyyyyHhm()
                                </span>                                                         
                                </div>
                                <div class="block-images col-xs-12 col-sm-4">
                                    <img src="@newsItem.Image.ToUrl()" alt="@newsItem.Title">
                                </div>
                                <div class="blog-text col-xs-12 col-sm-8">
                                    <div class="rte">
                                        @newsItem.Summary
                                    </div>
                                    <div class="block-comment">
                                        <p class="button">
                                            <a href="@Url.NewsDetailUrl(newsItem)" title="Xem chi tiết tin @newsItem.Title">Chi tiết</a>
                                        </p>

                                    </div>
                                </div>
                            </li>

                        }
                    </ul>

                    if (Model.TotalPage > 0)
                    {

                        var showSpacePrev = false;
                        var showSpaceNext = false;

                        <div class="padding">
                            <div class="toolbar toolbar-bottom">
                                <ul class="pagination-page">
                                    @if (Model.Page > 1 & Model.TotalPage > 0)
                                    {
                                        <li><a href="@Url.NewsIndexUrl(Model.Page - 1)" title="trang trước"><i class="fa fa-caret-left" aria-hidden="true"></i></a></li>
                                    }
                                    @for (int i = 1; i <= Model.TotalPage; i++)
                                    {


                                        if (i == Model.Page)
                                        {
                                            @:
                                            <li class="active"><span>@i</span></li>
                                        }
                                        else
                                        {
                                            if (i <= Model.Page - 2 & i != 1)
                                            {
                                                if (showSpacePrev != true)
                                                {
                                                    @:
                                                    <li><a href="javascript:void(0);">...</a></li>
                                                    showSpacePrev = true;
                                                }
                                            }
                                            else if (i >= Model.Page + 2 & i != Model.TotalPage)
                                            {
                                                if (showSpaceNext != true)
                                                {
                                                    @:
                                                    <li><a href="javascript:void(0);">...</a></li>
                                                    showSpaceNext = true;
                                                }
                                            }
                                            else
                                            {
                                                @:
                                                <li><a href="@Url.NewsIndexUrl(i)" title="Trang @i">@i</a></li>
                                             }

                                        }


                                    }
                                    @if (Model.Page < Model.TotalPage)
                                    {
                                        <li>
                                            <a href="@Url.NewsIndexUrl(Model.Page + 1)" title="trang tiếp theo">
                                                <i class="fa fa-caret-right" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                    }

                                </ul>
                            </div>
                        </div>
                    }
                }

            </div>
        </div>
        <!-- Begin sidebar -->
        <div class="col-xs-12 col-sm-5 col-md-3 sidebar">
            @if (Model.ListNewsMostView.IsHasData()){
                <div class="widget widget-recent-articles">
                    <div class="widget-title">
                        <h3><span>Bài viết đọc nhiều</span></h3>
                    </div>
                    <div class="widget-content">

                        <ul>
                            @foreach (News newsItem in Model.ListNewsMostView){
                                <li class="article">
                                    <p>
                                        <a href="@Url.NewsDetailUrl(newsItem)" title="@newsItem.Title">
                                           @newsItem.Title
                                        </a>
                                     
                                    </p>
                                </li>
                            }
 
                        </ul>
                    </div>
                </div>

            }
        
        </div>
        <!-- End sidebar -->

    </div>
