@using V308CMS.Common
@using V308CMS.Helpers
@using V308CMS.Helpers.Url
@using V308CMS.Models
@model V308CMS.Models.SearchViewModels
@{
    Layout = "~/Views/themes/" + ViewBag.domain + "/Layout/Layout.cshtml";
}
@section BodyId{@Html.Raw("search")}
@section BodyClass{@Html.Raw("template-search")}
@section header {
    <title>Tìm Kiếm theo từ khóa @Model.Keyword - @ViewBag.SiteName</title>
}

<div class="search-page">
    <header class="page-header">
        <h2>Kết quả tìm kiếm theo từ khóa @Model.Keyword</h2>
        <div class="wrapper-search-bar">
            <form action="@Url.HomeSearchUrl()" method="get" class="input-group search-bar" style="position: relative;">
                <input type="hidden" name="type" value="product">
                <input type="text" name="q" value="@Model.Keyword" placeholder="Nhập từ khóa tìm kiếm" class="input-group-field" aria-label="Search Site" autocomplete="off" vk_1745a="subscribed">
                <span class="input-group-btn">
                    <input type="submit" class="btn" value="Tìm kiếm">
                </span>
                <ul class="search-results" style="position: absolute; left: 0px; top: 34px; display: none;"></ul>
            </form>
        </div>
    </header>
    @if (Model.ListProduct != null && Model.ListProduct.Count > 0)
    {
        <div class="product-list">
        @foreach (var product in Model.ListProduct)
        {
            <div id="product-@product.ID" class="col-md-3 col-sm-3 col-xs-12 product-item grid-item wow fadeInUp" data-wow-delay="100ms">
                <div class="product-image">
                    <a href="@Url.ProductDetailUrl(product)" class="product-list-thumb product-grid-image">
                        <img src="@product.Image.ToUrl(225,267)" alt="@product.Name">
                    </a>
                </div>
                <div class="product-details">
                    <a class="product-title" href="@Url.ProductDetailUrl(product)" title="@product.Name">
                        @product.Name
                    </a>
                    @{ Html.RenderPartial("ProductRateComponent", new Tuple<int,int>(0,0));}                  
                    @{ Html.RenderPartial("ProductPriceComponent", new Tuple<double, int>(product.Price ?? 0, product.SaleOff ?? 0));}
                    @{ Html.RenderPartial("ProductQuantityComponent", new Tuple<int, int>(product.ID, product.Quantity ?? 0));}                    
                </div>
            </div>
        }
        </div>
    }

    <div class="text-center">
        <div class="toolbar toolbar-bottom">

           @Html.Partial("PaginationComponent", new PaginationModels
           {
              TotalPages = Model.TotalPage,
              BaseUrl =  Url.HomeSearchUrl(Model.Keyword),
              CurrentPage = Model.Page,
              PageParamFormat = @"page=\d+",
              RecordPerPages = 5
           })
        </div>

    </div>

</div>
