@model  V308CMS.Data.Product
@using V308CMS.Data;
@using V308CMS.Common;
@using V308CMS.Helpers.Url

<div class="col-md-4 col-sm-4 col-xs-6">
    <div class="grid-item product-item" id="product-@Model.ID">
        <div class="item-poduct">
            <div class="product-image ">
                <div class="product-label">
                    <lable class="label">Sale</lable>
                </div>
                <a href="@url.productURL(Model.Name, Model.ID)" class="grid-image">
                    <img class="feature-Model" src="@Model.Image.ToUrl(250)" alt="@Model.Name">
                </a>
                <div class="quickview-button">
                    <a href="javascript:void(0)" id="contemporary-leopard-mini-dress" data-toggle="tooltip" data-placement="top" title="@Model.Name" class="sca-qv-button btn">Xem nhanh</a>
                </div>

            </div>
            <div class="product-content">
                <h3><a class="product-title" href="@url.productURL(Model.Name, Model.ID)">@Model.Name</a></h3>
                <div class="price-box">
                    <p class="sale">
                        <span class="old-price">
                            @if (Model.SaleOff > 0)
                            { 
                                <span class="money">@String.Format("{0: 0,0}", Model.Price - (Model.Price / 100) * Model.SaleOff) ) @ViewBag.MoneyShort</span>
                            }
                        </span>
                        <span class="special-price">
                            @if (Model.Price > 0)
                            {
                                <span class="money">@String.Format("{0: 0,0}", (Model.Price)) @ViewBag.MoneyShort</span>
                            }
                        </span>
                    </p>

                </div>

                <div class="reviews-container">
                    <span class="shopify-product-reviews-badge" data-id="7824322313"></span>
                </div>

                <p class="short-description">@Model.Summary</p>
                <div class="add-to-link">
                    <div class="add-to-cart">
                        @if (Model.Quantity > 0)
                        {
                            <a href="javascript:void(0);" class="btn add-to-cart-btn" add-cart="@Model.ID" title="Thêm vào giỏ hàng">
                                Thêm vào giỏ hàng
                            </a>

                        }
                        else
                        {
                            <span style="color: #f00; font-weight: bold">Sản phẩm tạm hết hàng</span>
                        }
                    </div>
                    <a class="wishlist btn" href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="Yêu thích"><span><i class="fa fa-heart" aria-hidden="true"></i></span></a>
                </div>
            </div>
        </div>
    </div>

</div>
