@using V308CMS.Admin.Helpers.Url
@model V308CMS.Data.ProductPage
@{
    ViewBag.Title = "Hóa Đơn Mua Hàng";
    ViewBag.LinkBack = "<li><a href=" + Url.ProductOrderIndexUrl()+ ">Hóa Đơn Mua Hàng</a> </li>";
    ViewBag.MenuValue = 3;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Header {
    <script type="text/javascript">
        $(document).ready(function () {
            CKEDITOR.replace('editor1',

   {
       filebrowserBrowseUrl: '/Content/Plugins/ckfinder/ckfinder.html',
       filebrowserImageBrowseUrl: '/Content/Plugins/ckfinder/ckfinder.html?type=Images',
       filebrowserFlashBrowseUrl: '/Content/Plugins/ckfinder/ckfinder.html?type=Flash',
       filebrowserUploadUrl: '/Content/Plugins/ckfinder/core/connector/asp/connector.asp?command=QuickUpload&type=Files',
       filebrowserImageUploadUrl: '/Content/Plugins/ckfinder/core/connector/asp/connector.asp?command=QuickUpload&type=Images',
       filebrowserFlashUploadUrl: '/Content/Plugins/ckfinder/core/connector/asp/connector.asp?command=QuickUpload&type=Flash',
       filebrowserWindowWidth: '100%',
       filebrowserWindowHeight: '700', height: '400px'
   });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnSelectImg").click(function () {
                var finder = new CKFinder();
                finder.selectActionFunction = function (fileUrl) {
                    $('#ImageUrl').val(fileUrl);
                    $("#anhdaidien").html('<img style="width:100px;height:60px;margin-left:10px;" src="' + fileUrl + '" />');

                };
                finder.popup();
            });

            $("#btnSelectImgSlide").click(function () {
                var finder = new CKFinder();
                finder.selectActionFunction = SetFileFieldSlide;
                finder.popup();
            });


        });

        function CloseButton() {
            $('.slidegalaxyittem').remove();
        }
        function slidepropertiesCloseButton() {
            $('.slidepropertiesittem').remove();
        }
        function SetFileField(fileUrl) {
            $('#ImageUrl').val(fileUrl);
        }

        function SetFileFieldSlide(fileUrl) {
            $("#slidegalaxy").append('<div class="slidegalaxyittem"><div class="slidegalaxyclosebutton" onclick="javascript:CloseButton();"></div><img style="width:100px;height:60px;margin-left:10px;" src="' + fileUrl + '" /><input type="hidden" value="' + fileUrl + '" name="imageslide"/><div>');
        }
        function ThemThuocTinh() {
            $("#slideproperties").append('<div class="slidepropertiesittem"><div class="slidepropertiesclosebutton" onclick="javascript:slidepropertiesCloseButton();"></div><input placeholder="Tên thuộc tính" style="min-width:40px;" type="text" name="pNamePro" /><input  placeholder="Giá trị"   style="min-width:40px;"  type="text" name="pValuePro" /></div>');
        }
    </script>
}
<form id="formtaomoi">
    <div>
        <div>
            <h3>Chi Tiết Đơn Hàng</h3>
            <hr />
            <div style="width: 100%;">
                <div id="v308inputContent" class="RadGrid RadGrid_MetroTouch table table-striped table-bordered table-hover dataTable" tabindex="0">
                    <table>
                        <tr>
                            <td>Tên Khách Hàng</td>
                            <td>
                                @Model.pProductOrder.FullName
                            </td>
                        </tr>
                        <tr>
                            <td>Chi Tiết</td>
                            <td>@Html.Raw(@Model.pProductOrder.ProductDetail)</td>
                        </tr>
                        <tr>
                            <td>Giảm giá Voucher</td>
                            <td>@Model.Voucher</td>
                        </tr>
                        <tr>
                            <td>Tổng Giá</td>
                            <td>@String.Format("{0: 0,0}", (@Model.ShopCart.getTotalPrice()))</td>
                        </tr>
                        <tr>
                            <td>Mô tả</td>
                            <td>
                                @Model.pProductOrder.Detail
                            </td>
                        </tr>
                        <tr>
                            <td>Email Khách</td>
                            <td>
                                @Model.pProductOrder.Email
                            </td>
                        </tr>
                        <tr>
                            <td>Điện Thoại Khách</td>
                            <td>
                                @Model.pProductOrder.Phone
                            </td>
                        </tr>
                        <tr>
                            <td>Địa Chỉ</td>
                            <td>
                                @Model.pProductOrder.Address
                            </td>
                        </tr>
                        <tr>
                            <td>Hóa đơn</td>
                            <td>
                                <table>
                                    <tr>
                                        <td colspan="6" style="text-align:center;font-size:16px;">Công ty CP Thương Mại & Thực Phẩm Clean Food Việt Nam</td>
                                    </tr>
                                    <tr>
                                        <td colspan="6">Số 42, Thái Thịnh 1, Thịnh Quang, Đống Đa, Hà Nội</td>
                                    </tr>
                                    <tr>
                                        <td colspan="6" style="text-align:center;font-size:16px;font-weight:bold;">ĐẶC SẢN VÙNG CAO TÂM VIỆT</td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">Tel: 04.668.866.15</td>
                                        <td colspan="3">Hotline: 093.94.88883</td>
                                    </tr>
                                    <tr>
                                        <td colspan="6">Web site : dacsanvungcaovn.com - dacsantamviet.com</td>
                                    </tr>
                                    <tr>
                                        <td colspan="6">Facebook: Đặc Sản Vùng Cao</td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">Số Hóa Đơn: CF@(@Model.pProductOrder.ID)</td>
                                        <td colspan="3">Ngày: @Model.pProductOrder.Date.ToString()</td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">Khách hàng:@Model.pProductOrder.FullName</td>
                                        <td colspan="3">Nợ trước:100%</td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">Địa chỉ:@Model.pProductOrder.Address</td>
                                        <td colspan="3">ĐT:@Model.pProductOrder.Phone	</td>
                                    </tr>
                                    <tr>
                                        <td colspan="6" style="text-align:center;font-size:16px;font-weight:bold;">PHIẾU THANH TOÁN</td>
                                    </tr>
                                    <tr>
                                        <td>ID</td>
                                        <td>Tên Hàng</td>
                                        <td>SL</td>
                                        <td>Giá Bán</td>
                                        <td>%</td>
                                        <td>Thành tiền</td>
                                    </tr>
                                    @foreach (V308CMS.Data.Product it in @Model.ShopCart.List)
                                    {
                                        <tr>
                                            <td>@it.ID</td>
                                            <td>@it.Name</td>
                                            <td>@it.Number</td>
                                            <td>@String.Format("{0: 0,0}", (it.Price))</td>
                                            <td>@it.SaleOff %</td>
                                            <td>@String.Format("{0: 0,0}", (it.Price - ((it.Price / 100) * it.SaleOff)))</td>
                                        </tr>
                                    }
                                    <tr>
                                        <td colspan="5" style="font-weight:bold;">Tổng tiền hàng</td>
                                        <td>@String.Format("{0: 0,0}", (@Model.ShopCart.getTotalBefore()))</td>
                                    </tr>
                                    <tr>
                                        <td colspan="5" style="font-weight:bold;">Giảm giá</td>
                                        <td>@String.Format("{0: 0,0}", (@Model.ShopCart.Voucher)) %</td>
                                    </tr>
                                    <tr>
                                        <td colspan="5" style="font-weight:bold;">Thực thu</td>
                                        <td>@String.Format("{0: 0,0}", (@Model.ShopCart.getTotalPrice()))</td>
                                    </tr>
                                    <tr>
                                        <td colspan="5" style="font-weight:bold;">Phí ship</td>
                                        <td>@String.Format("{0: 0,0}", (@Model.ShopCart.ServicePrice))</td>
                                    </tr>
                                    <tr>
                                        <td colspan="5" style="font-weight:bold;">Dịch vụ sơ chế </td>
                                        <td>@String.Format("{0: 0,0}", (0))</td>
                                    </tr>
                                    <tr>
                                        <td colspan="5" style="font-weight:bold;">Dịch vụ Tẩm ướp</td>
                                        <td>@String.Format("{0: 0,0}", (0))</td>
                                    </tr>
                                    <tr>
                                        <td colspan="5" style="font-weight:bold;">Tổng tiền phải thanh toán </td>
                                        <td>@String.Format("{0: 0,0}", (@Model.ShopCart.getTotalPrice()))</td>
                                    </tr>
                                    <tr>
                                        <td colspan="6">Đặc sản vùng cao Tâm Việt cảm ơn quý khách đã ủng hộ</td>
                                    </tr>
                                    <tr>
                                        <td colspan="6">
                                            <a class="mbutton" href="@Url.ProductOrderExportToExcelUrl(new {pId =Model.pProductOrder.ID})">Xuất hóa đơn</a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <a class="mbutton" href="javascript:Admin_Product_XacNhan(@Model.pProductOrder.ID);">Xác Nhận</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <hr />
        </div>
    </div>
</form>
