@model V308CMS.Data.AccountPage
@{
    ViewBag.Title = "Tài khoản quản trị";
    ViewBag.LinkBack = "<li><a href=\"/Admin/AdminAccount/\">Tài khoản quản trị</a> </li>";
    ViewBag.MenuValue = 6;
    Layout = "~/Views/Admin/Layout.cshtml";
}
<div>
    <div>
        <div id="close" class="mheader">
            <a href="/Admin/AdminAccountThemMoi/"><img src="/Content/Admin/Images/them-moi.png" /></a>
        </div>
        <div style="margin-top:16px;">
       <select name="pGroup" id="pGroupId" onchange="ThayDoiKieuNhomAdminAccount(@Model.Page);">
           <option @V308CMS.Common.Ultility.CheckSeclectSelected(0,@Model.TypeId) value="0">Tất cả</option>
           <option @V308CMS.Common.Ultility.CheckSeclectSelected(1,@Model.TypeId)  value="1">Administrator</option>
           <option @V308CMS.Common.Ultility.CheckSeclectSelected(2,@Model.TypeId)  value="2">Member</option>
           <option @V308CMS.Common.Ultility.CheckSeclectSelected(3,@Model.TypeId)  value="3">Guest</option>
       </select>
        </div>
        <hr />
        <div style="width: 100%;">
            <div class="RadGrid RadGrid_MetroTouch table table-striped table-bordered table-hover dataTable" tabindex="0">
               @Html.Raw(@Model.Html)
            </div>
        </div>
        <div class="wpmn_page_navi"><a href="/Admin/AdminAccount?pPage=@Model.BackPage&pType=@Model.TypeId">Back</a><span class="current">@Model.Page</span><a href="/Admin/AdminAccount?pPage=@Model.NextPage&pType=@Model.TypeId">Next</a></div>
        <hr />
    </div>
    <div style="display: none;" role="status" aria-hidden="true">
        <div class="area"></div>
        <div class="form-loading"></div>
    </div>
</div>
