@model V308CMS.Data.FilePage
@{
    ViewBag.Title = "Thể Loại File";
    ViewBag.LinkBack = "<li><a href=\"/Admin/TheLoaiAnh/\">Thể Loại File</a> </li>";
    ViewBag.MenuValue = 5;
    Layout = "~/Views/Admin/Layout.cshtml";
}
@section Header {
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnSelectImg").click(function () {
                var finder = new CKFinder();
                finder.selectActionFunction = function (fileUrl) {
                    $("#anhdaidien").html('<img style="width:100px;height:60px;margin-left:10px;" src="' + fileUrl + '" />');
                    $('#ImageUrl').val(fileUrl);
                };
                finder.popup();
            });
        });

        function SetFileField(fileUrl) {
            $('#ImageUrl').val(fileUrl);
        }

    </script>
}
<div>
    <div>
        <h3>Thêm loại ảnh mới</h3>
        <hr />
        <div style="width: 100%;">
            <input id="pId" type="hidden" value="@Model.pFileType.ID" />
            <div id="v308inputContent" class="RadGrid RadGrid_MetroTouch table table-striped table-bordered table-hover dataTable" tabindex="0">
                <table>
                    <tr>
                        <td>Tên</td>
                        <td>
                            <input type="text" id="pTitleId" name="pTitle" value="@Model.pFileType.Name" /></td>
                    </tr>
                    <tr>
                        <td>Nhóm File</td>
                        <td>@Html.Raw(@Model.HtmlNhom)</td>
                    </tr>
                    <tr>
                        <td>Hình Ảnh</td>
                        <td>
                             <div id="anhdaidien"><img style="width:100px;height:60px;margin-left:10px;" src="" /></div>
                            <input id="ImageUrl"  type="text" value="" name="pImage" /><a id="btnSelectImg" class="mbutton" href="javascript:void(0);">Chọn ảnh</a></td>
                    </tr>
                    <tr>
                        <td>Thứ Tự</td>
                        <td>
                            <input type="text" id="pOrderId"  name="pOrder" value="@Model.pFileType.Number" /></td>
                    </tr>
                     <tr>
                        <td>Kích cỡ</td>
                        <td>
                            <input type="text" id="pSizeId"  name="pSize" value="0"/></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                         <a  class="mbutton" href="javascript:Admin_FileGroup_ThucHienLuuSua();">Lưu Sửa</a></td>
                    </tr>
                </table>
            </div>
        </div>
        <hr />
    </div>
</div>
