@using V308CMS.Admin.Helpers
@using V308CMS.Admin.Helpers.UI
@using V308CMS.Admin.Helpers.Url
@using V308CMS.Admin.Models
@using V308CMS.Admin.Models.UI
@using V308CMS.Common
@model OrderViewModels
@{
    ViewBag.Title = "Danh sách Đơn hàng";
    Layout = "~/Views/Shared/_LayoutV2.cshtml";
    var listSearchType = (List<SelectListItem>)ViewBag.ListSearchType;
    var listStatus = (List<SelectListItem>)ViewBag.ListStatus;
}
<div class="row" style="margin-bottom: 2px">
    <form action="@Url.ProductOrderIndexUrl()" method="get">
        @*<div class="col-md-2">
            @Html.DropDownListFor(news => Model.SearchType, listSearchType, "Tất cả", new
       {
           @class = "form-control",
           placeholder = "Tất cả",
           style = "width :240px"
       })
        </div>*@

        <div class="col-md-2">
            <div class="input-group">
                @Html.TextBoxFor(order => order.Keyword, new
           {
               placeholder = "Nhập từ khóa",
               @class = "form-control",
               style = "width: 125%"
           })
            </div>
        </div>
        @*<div class="col-md-2">
            @Html.DropDownListFor(news => Model.Status, listStatus, "Tất cả", new
       {
           @class = "form-control",
           placeholder = "Tất cả",
           style = "width :240px"
       })
        </div>*@
        <div class="col-md-2">
            <div class="input-group">
                @Html.TextBoxFor(order => order.StartDate, new
           {
               placeholder = "Ngày bắt đầu",
               @class = "date form-control",
               style = "width: 125%"
           })
            </div>
        </div>
        <div class="col-md-2">
            <div class="input-group">
                @Html.TextBoxFor(order => order.EndDate, new
           {
               placeholder = "Ngày kết thúc",
               @class = "date form-control",
               style = "width: 125%"
           })
            </div>

        </div>
        <div class="col-md-2">
            <div class="input-group">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-default">
                        <i class="fa fa-search"></i>
                        Tìm kiếm
                    </button>
                </span>
            </div>
        </div>
    </form>

</div>



    <div class="panel panel-default">
        <div class="panel-body">
            <table class="table table-striped table-bordered table-hover" id="orderitems">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Khách hàng</th>
                        <th>SĐT</th>
                        <th>Tổng tiền</th>
                        <th>Ngày tạo</th>
                        <th style="text-align: center">Trạng thái</th>
                        <th>Chiết khấu</th>
                        <th>CK thanh toán</th>
                    </tr>
                </thead>
                <tbody>
@if (Model.Data.Any())
{
    for (int i = 0, total = Model.Data.Count; i < total; i++)
    {
        var order = Model.Data[i];
                        <tr>
                            <td>@order.ID</td>
                            <td>@order.FullName</td>
                            <td>@order.Phone</td>
                            
                            <td class="text-right">@(order.Price.HasValue ? order.Price.Value.ToString("N0") : "0")</td>
                            <td>@( order.Date.ToDdmmyy() )</td>
                            <td style="text-align: center">
                                @order.Status.ToOrderStateTextHtml()
                            </td>
                            <td class="text-right">
                                @order.RevenueValue()
                            </td>
                            <td class="text-right" data-class="revenuepay" data-id="@order.ID">
                                @order.RevenuePending()
                            </td>
                            
                        </tr>
    }
}
else
{
    <tr><td colspan="6" class="text-center">Không có dữ liệu</td></tr>
        }
</tbody>
</table>
@Html.Partial("UI/_Pagination", new PaginationModels
       {
           TotalPages = Model.TotalPages,
           BaseUrl = Url.ProductOrderIndexUrl(new
           {

               Model.SearchType,
               Model.Keyword,
               Model.Status,
               Model.EndDate,
               Model.StartDate,
               page = 1
           }),
           CurrentPage = Model.Page,
           PageParamFormat = @"page=\d+",
           RecordPerPages = 5
       })
        </div>
    </div>
<link href="/Content/vendor/bootstrap-editable/css/bootstrap-editable.css" rel="stylesheet">
<script src="/Content/vendor/bootstrap-editable/js/bootstrap-editable.js"></script>
<script src="/Content/vendor/editable-table/mindmup-editabletable.js?v=2.9"></script>

<script type="text/javascript">
    $(function() {
        $('.date').datetimepicker({ format: 'MM/DD/YYYY' });
    });
    $('#orderitems').editableTableWidget({ editor: $('<input>'), preventColumns: [1,2,3,4,5,6,7] });
    $('#orderitems td').on('change', function (evt, money) {
        var number = /^\d+$/;
        var orderid = $(this).attr('data-id');
        if ($(this).data('class') === 'revenuepay') {
            if (!number.test(money)) {
                toastr.error('Cần phải nhập vào số tiền thanh toán');
                return false;
            }
            if (orderid !== '') {
                $.post("/affiliate/revenuepay", { id: orderid, pay: money })
                    .fail(function () {
                        toastr.error('Lỗi xảy ra khi cập nhật!');
                    });
                return true;
            }
        }
    });
</script>
