@using V308CMS.Common;
@model V308CMS.Sale.Models.CouponModel
@{
    Layout = "~/Views/Affiliate/Layout/Backend.cshtml";
    string PageTitle = "Tạo Voucher giảm giá";
}
@section header {
    <title>@PageTitle</title>

}
<h4>@PageTitle</h4>
<form style="width: 80%; margin: 0 auto;" action="" method="post" enctype="multipart/form-data">
        @Html.HiddenFor(menu => Model.Id)
        <div class="row">


            <div class="col-md-12">
                @BootstrapHelper.InputText("title", "Tiêu đề",null, Model.Title)
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label>Lượng giảm giá</label>
                    @Html.TextBoxFor(model => Model.discount, new { type = "number", @class = "form-control" })
                    <small id="emailHelp" class="form-text text-muted">Mức giảm giá luôn thấp hơn hoặc bằng mức Chiết khấu bạn nhận được.</small>

                </div>
                @*@BootstrapHelper.InputText("discount", "Lượng giảm giá", null, Model.discount.ToString() )*@
            </div>
            <div class="col-md-6">
                @BootstrapHelper.InputText("ProductCode", "Mã sản phẩm",null,Model.ProductCode)
            </div>
            <div class="col-md-6">
                @BootstrapHelper.InputText("code", "Voucher Code", null, Model.Code)
            </div>
            <div class="col-md-12">

                <div class="form-group">
                    <label>Hình Ảnh(<a href="javascript:void(0)" class="upload-button">Upload</a>)</label>
                    @Html.TextBoxFor(model => Model.File, new { type = "file" ,@class="hidden"})

                    <input type="text" class="form-control" placeholder="http://website.com/img.jpg" name="ImageUrl" value="@Model.Image">
                </div>
            </div>
            <div class="col-md-12">
                @BootstrapHelper.InputTextarea("summary", "Mô tả ngắn", null, Model.Summary)
            </div>
            <div class="col-md-12">
                @BootstrapHelper.InputTextarea("content", "Nội dung chi tiết",null, Model.Content)
            </div>
            <div class="col-md-6">
                @BootstrapHelper.InputDate("start_date", "Ngày bắt đầu", null, Model.start_date.ToString())
            </div>
            <div class="col-md-6">
                @BootstrapHelper.InputDate("end_date", "Ngày kết thúc",null,Model.end_date.ToString() )
            </div>



        </div>


        <button type="submit" class="btn btn-success">Tạo Voucher</button>
    </form>