@helper DashBoardReport(string title, int value = 0, string uri = "")
{
uri = uri.Trim();
if (uri.Length < 1)
{
    uri = "javascript:void(0)";
}
string number = value.ToString();
if (number.Length > 3) {
    number = String.Format("{0: 0,0}", float.Parse(number));
}

    <div class="col-md-3">
        <div class="dasreport">
            <h4>@title</h4>
            <span class="number">@number</span>
            <a class="detail" href="@uri"><span>Chi Tiết</span><i class='fa fa-hand-o-right'></i></a>
        </div>
    </div>
}

@model V308CMS.Data.AffiliateDashboard
@{
    Layout = "~/Views/Affiliate/Layout/Backend.cshtml";
    string PageTitle = "Trang quản trị";
}
@section header {
    <title>@PageTitle</title>
    
}

<div class="row dashboard " style="padding-left:15px;">
    <div class="row">
        <div class="col-md-12"><h2>BÁO CÁO TỔNG HỢP NHÀ PHÂN PHỐI AFFILIATE</h2></div>
        @DashBoardReport("LINK ĐÃ TẠO", Model.link_count, "/link")
        @DashBoardReport("TỔNG SỐ CLICK", Model.click_count, "/link/report")
        @DashBoardReport("VOUCHER  ĐÃ TẠO", Model.voucher_count, "/voucher")
        @DashBoardReport("BANNER ĐÃ TẠO", Model.banner_count, "/banner")
    </div>
    <div class="row green">
        @DashBoardReport("TOP SP BIG SALE", Model.product_bigsale_count, "")
        @DashBoardReport("MÃ GIẢM GIÁ CTY", Model.voucher_system_count, " /ma-giam-gia")
        @DashBoardReport("DANH SÁCH ĐƠN HÀNG", Model.product_count, " /order")
    </div>
    <div class="row">
        @DashBoardReport("TỔNG DOANH SỐ", (int)Model.order_price_sum, " /partner/revenue")
        @DashBoardReport("DOANH THU THÀNH CÔNG", (int)Model.order_finish_sum, "/partner/revenue")
        @DashBoardReport("HOA HỒNG TỔNG", (int)Model.revenue_sum, "/partner/revenue")
        @DashBoardReport("HOA HỒNG ĐÃ THANH TOÁN", (int)Model.revenue_payed_sum, "/partner/revenue")
    </div>
    <div class="row green">
        @DashBoardReport("HOA HỒNG  TRONG THÁNG", (int)Model.revenue_inmonth_sum, "/partner/revenue")
        @DashBoardReport("HOA HỒNG CHƯA THANH TOÁN", (int)(Model.revenue_sum - Model.revenue_payed_sum), "/partner/revenue")
        @DashBoardReport("TỔNG SỐ KHÁCH CŨ", Model.customer_count - Model.customer_new_count, "")
        @DashBoardReport("TỔNG SỐ KHÁCH MỚI", Model.customer_new_count, "")
    </div>
    <div class="row">
        <div class="col-md-12"><h2>THEO DÕI HÀNH TRÌNH ĐƠN</h2></div>
        @DashBoardReport("CHỜ HÀNG", Model.order_waiting_count, " /order")
        @DashBoardReport("ĐANG VẬN CHUYỂN", Model.order_delivering_count, " /order")
        @DashBoardReport("HOÀN THÀNH", Model.order_finish_count, " /order")
        @DashBoardReport("TỪ CHỐI NHẬN", Model.order_cancel_count, "/order")
    </div>
</div>