@model V308CMS.Data.AffiliateLinksPage
@using V308CMS.Data
@using V308CMS.Common
@{
    Layout = "~/Views/Affiliate/Layout/Backend.cshtml";
    string PageTitle = "Quản lý Link đã tạo";
}
@section header {
    <title>@PageTitle</title>

}
<h4>Báo cáo Click</h4>

<div class="row">
    <div class="col-md-7 textright">
        @Html.Action("BlockPagination", "Theme",new {ProductTotal=Model.LinkTotal})

    </div>
    <div class="col-md-3">
        <div class="form-group border-radius-0 bg-secondary">

            <select class="form-control" id="exampleSelect1">
                <option>Hiển thị : 10</option>
                <option>Hiển thị : 30</option>
                <option>Hiển thị : 50</option>
                <option>Hiển thị : 100</option>
            </select>
        </div>
    </div>
    <div class="col-md-2 textright" style="margin-bottom: 15px;">
        <button type="button" class="btn btn-secondary border-radius-0">Xuất excel</button>
    </div>
</div>
<table class="table table-bordered table-responsive">
    <thead>
        <tr>
            <th>#</th>
            <th>Thời gian</th>
            <th>Click Trong Tuần</th>
            <th>Click Trong Tháng</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Links != null && Model.Links.Count() > 0)
        {
            string link_href = "";
            foreach (AffiliateLink l in Model.Links)
            {
                link_href = "http://" + ViewBag.linkDomain + "/link/" + l.code;
                
                <tr>
                    <th scope="row">@l.code</th>
                    <td>@String.Format("{0:d}", l.created)</td>
                
                    <td class="text-center">@l.click</td>
                    <td class="text-center">@l.click</td>
                </tr>
             }
            
        }
        else
        { 
            <tr>
                <td colspan="6" class="text-center">Không có Link nào</td>
            </tr>
        }

    </tbody>
</table>
