@using V308CMS.Data;
<ul class="navbar-nav site-nav">
    @{
        var controller = Request.RequestContext.RouteData.Values["Controller"].ToString().ToLower();
        @*<li class="menu-dropdown level-top @(controller =="home"?"active" :"") ">
                <a class="dropdown-toggle" href="/" title="MP START">
                    <span>Trang chủ</span>
                </a>
            </li>*@
    if (Model != null && Model.Count > 0)
    {
        foreach (V308CMS.Data.Models.MenuConfig menu in Model)
        {

            var menuName = menu.Name;
            if (!menuName.ToLower().Equals("footer"))
            {
                var activeCss = "";
                string taget = "_self";
                if (menu.Link != null)
                {
                    if (menu.Link.Contains("/video") && controller == "video")
                    {
                        activeCss = "active";
                    }
                    if (menu.Link.Contains("/tin-tuc") && controller == "news")
                    {
                        activeCss = "active";
                    }
                    if (menu.Link.Contains("/lien-he") && controller == "contact")
                    {
                        activeCss = "active";
                    }
                    taget = menu.Target ?? "_self";
                }

                <li class="menu-dropdown level-top @activeCss">
                    <a class="dropdown-toggle" href="@menu.Link" title="@menuName" target="@taget">
                        <span class="">@menuName</span>
                    </a>
                </li>

            }

        }
    }

    }
</ul>