@using V308CMS.Data
@using V308CMS.Common
@model V308CMS.Data.NewsIndexPageContainer
@{
    Layout = "~/Views/Affiliate/Layout/Backend.cshtml";
    string PageTitle = "Tin khuyến mại tổng hợp";
}
@section header {
    <title>@PageTitle</title>

}
<h4>@PageTitle</h4>

<div class="row">
    <div class="col-md-3">
        <div class="form-group border-radius-0 bg-secondary">

            <select class="form-control" id="exampleSelect1">
                <option>Hiển thị : 10</option>
                <option>Hiển thị : 30</option>
                <option>Hiển thị : 50</option>
                <option>Hiển thị : 100</option>
            </select>
        </div>
    </div>
    <div class="col-md-7 text-right">
        @Html.Action("BlockPagination", "Theme",new {ProductTotal=Model.TotalPage})

    </div>
    <div class="col-md-2 textright" style="margin-bottom: 15px;">
        <button type="button" class="btn btn-secondary border-radius-0">Xuất excel</button>
    </div>
</div>
<table class="table table-bordered table-responsive">
    <thead>
        <tr>
            <th>Tiêu đề</th>
            
            <th>Hình Ảnh</th>
            <th>Tóm tắt</th>
            <th>Ngày cập nhật</th>
            <th>Link</th>
            <th>Tạo Link</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.ListNews != null && Model.ListNews.Count() > 0)
        {
            string product_href = "";
            foreach (News n in Model.ListNews)
            {
                product_href = ViewBag.productLink + url.productURL(n.Title, n.ID);
                
                <tr>
                    <td>@n.Title</td>
                    <td><img src="@ImageHelper.Crop(n.Image, 200,200)" class="w50"/></td>
                    <td>@n.Summary</td>
                    <td>@String.Format("{0:dd/MM/yyyy}", n.Date)</td>
                    <td></td>
                    <td><a href="/link/tao-moi?l=@WebUtility.UrlEncode(product_href)" class="btn btn-green">Tạo</a></td>
                </tr>
            }
        }
        else { 
            <tr>
                <td colspan="11" class="text-center">Không có bài viết nào</td>
            </tr>
        }
        
    </tbody>
</table>

<div class="row">
    <div class="col-md-12 text-center">@Html.Action("BlockPagination", "Theme",new {ProductTotal=Model.TotalPage})</div>
</div>
