@model V308CMS.Data.NewsDetailPageContainer
@using V308CMS.Data
@using V308CMS.Common

@{

    Layout = "~/Views/" + @ViewContext.RouteData.Values["controller"] + "/Layout/Default.cshtml";
    string PageTitle = Model.NewsItem != null ? Model.NewsItem.Title : Model.PageTitle;
}
@section header {
    <title>@PageTitle</title>
    <meta property="og:url" content="@Request.Url" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="@Html.Raw(PageTitle)" />
    <meta property="og:description" content="@Model.NewsItem.Summary" />
    <meta property="og:image" content="https://i.ytimg.com/vi/@Model.NewsItem.Summary/hqdefault.jpg" />
    <meta property="og:image:width" content="436" />
    <meta property="og:image:height" content="327" />
}

<div class="shopify-section loginform">
    <div class="container-block m-0">
        <div class="container border-col">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 article-home-full">
                    <h3><span>@PageTitle</span></h3>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12" style="padding-bottom: 15px;">
                    <div class="fb-like" data-href="@Request.Url" data-layout="standard" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
                </div>

                <iframe src="https://www.youtube.com/embed/@Model.NewsItem.Summary?autoplay=0" frameborder="0" allowFullScree class="col-md-12" style="min-height:600px;"></iframe>
                

            </div>
        </div>
    </div>
</div>
@Html.Action("BlockNews12", "Theme")