@model V308CMS.Data.NewsIndexPageContainer
@using V308CMS.Data
@using V308CMS.Common

@{

    Layout = "~/Views/" + @ViewContext.RouteData.Values["controller"] + "/Layout/Default.cshtml";
    string PageTitle = (Model.NewsGroups != null && Model.NewsGroups.Name != null) ? Model.NewsGroups.Name : "Danh sách video";
}
@section header {
    <title>@PageTitle</title>
}

<div class="shopify-section loginform">
    <div class="container-block m-0">
        <div class="container border-col">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 article-home-full" style="margin-bottom: 5px;">
                    <h1>@PageTitle</h1>
                </div>
                <hr class="redline" />
                <div class="col-md-12 col-sm-12 col-xs-12 article-home-full">
                    @if (Model.ListNews != null && Model.ListNews.Count() > 0)
                    {

                        foreach (News news in Model.ListNews)
                        {
                            <a class="col-md-4" href="/video/@V308CMS.Common.url.articleURL(news.Title, news.ID)">
                                <img src="https://i.ytimg.com/vi/@news.Summary/mqdefault.jpg" alt="@news.Title">
                                <p style="padding: 10px 0;">@news.Title</p>
                            </a>
                            
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>
