@using V308CMS.Admin.Helpers.Url
@model V308CMS.Admin.Models.AdminChangePassworModels
@{
    ViewBag.Title = "Thay đổi mật khẩu tài khoản " + Model.UserName;
    Layout = "~/Views/Shared/_LayoutV2.cshtml";
}
<div class="panel panel-primary">
    <div class="panel-body">
        <form method="post" role="form" action="@Url.AdminAccountChangePasswordUrl()">
            <div class="row">
                @Html.ValidationSummary(true)
                @Html.HiddenFor(admin => admin.Id)
                @Html.AntiForgeryToken()
                <div class="col-lg-6">

                    <div class="form-group">
                        @Html.LabelFor(admin => admin.NewPassword)
                        @Html.PasswordFor(admin => admin.NewPassword, new { @class = "form-control", placeholder = "Nhập mật khẩu mới" })
                        @Html.ValidationMessageFor(admin => admin.NewPassword)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(admin => admin.ConfirmPassword)
                        @Html.PasswordFor(admin => admin.ConfirmPassword, new { @class = "form-control", placeholder = "Nhập mật khẩu xác nhận" })
                        @Html.ValidationMessageFor(admin => admin.ConfirmPassword)
                    </div>
                    @Html.Partial("UI/_FormAction")
                    <a href="@Url.AdminAccountIndexUrl()" title="Danh sách tài khoản" class="btn btn-link">Danh sách</a>
                </div>
            </div>
        </form>
    </div>

</div>
