@model V308CMS.Data.PageFooterControl

<div id="shopify-section-1476418232986" class="shopify-section index-section" style="margin-top: 20px;">
    <div class="main-brand brand-bottom" style="padding: 0px 0px 30px 0px">
        <div class="container">
            <div class="logo-brand-content">
                <div id="logo-brand" class="owl-carousel owl-theme">
                    <div class="item a-center">
                        <a href="#">
                            <img src="//cdn.shopify.com/s/files/1/1498/2346/files/9_200x.jpg?v=1476418259" alt="" />
                        </a>
                    </div>

                    <div class="item a-center">
                        <a href="#">
                            <img src="//cdn.shopify.com/s/files/1/1498/2346/files/10_200x.jpg?v=1476418263" alt="" />
                        </a>
                    </div>


                    <div class="item a-center">
                        <a href="#">
                            <img src="//cdn.shopify.com/s/files/1/1498/2346/files/11_200x.jpg?v=1476418266" alt="" />
                        </a>
                    </div>




                    <div class="item a-center">
                        <a href="#">
                            <img src="//cdn.shopify.com/s/files/1/1498/2346/files/12_200x.jpg?v=1476418270" alt="" />
                        </a>
                    </div>




                    <div class="item a-center">
                        <a href="#">
                            <img src="//cdn.shopify.com/s/files/1/1498/2346/files/13_200x.jpg?v=1476418274" alt="" />
                        </a>
                    </div>




                    <div class="item a-center">
                        <a href="#">
                            <img src="//cdn.shopify.com/s/files/1/1498/2346/files/14_200x.jpg?v=1476418278" alt="" />
                        </a>
                    </div>




                    <div class="item a-center">
                        <a href="#">
                            <img src="//cdn.shopify.com/s/files/1/1498/2346/files/15_200x.jpg?v=1476418282" alt="" />
                        </a>
                    </div>




                    <div class="item a-center">
                        <a href="#">
                            <img src="//cdn.shopify.com/s/files/1/1498/2346/files/12_dc12eb8c-afb1-4a83-b72a-71c84a74a6bd_200x.jpg?v=1482074693" alt="" />
                        </a>
                    </div>




                    <div class="item a-center">
                        <a href="#">
                            <img src="//cdn.shopify.com/s/files/1/1498/2346/files/10_6c8760cd-7d01-47a5-a05f-f7d5c11b34cb_200x.jpg?v=1482074640" alt="" />
                        </a>
                    </div>




                </div>
            </div>
            <script>
                
    </script>
        </div>
    </div>

</div>
<div class="shopify-section">



    <div class="footer-logo-top" style="background: #141414">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-12 logo-footer">
                    <img src="@ViewBag.ThemesPath/images/logo.png" class="logo img-fluid">
                </div>
                <div class="col-md-5 link-list-footer hidden-md-down">
                    @if (Model.MenusFooter != null && Model.MenusFooter.Count() > 0)
                    {
                        <div class="link-list">
                            <ul class="">
                                @foreach (V308CMS.Data.NewsGroups menu in Model.MenusFooter)
                                {
                                <li><a href="@menu.Link">@menu.Name</a></li>
                                }
                            </ul>
                        </div>
                    }




                </div>
                <div class="col-md-5 col-12 share-social-footer">

                    <div class="title-social">FOLLOW US:</div>
                    <div class="footer-icon-share">

                        <a href="#">
                            <i class="fa fa-facebook"></i>
                        </a>


                        <a href="#">
                            <i class="fa fa-twitter"></i>
                        </a>


                        <a href="#">
                            <i class="fa fa-google-plus"></i>
                        </a>


                        <a href="#">
                            <i class="fa fa-instagram"></i>
                        </a>


                        <a href="">
                            <i class="fa fa-rss"></i>
                        </a>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <footer class="footer-container  footer-layout-2" style="margin: 0px 0px 0px 0px; background: #141414">
        <div class="container">

            <div class="footer-top">
                <div class="row row-eq-height">

                    <div class="col-md-4 col-sm-6 col-xs-12 footer-contact">
                        <h3 class="module-title">Liên hệ với @ViewBag.SiteName</h3>
                        <ul class="content">
                           <li>
                                @ViewBag.CompanyHeaderAddress
                            </li>
                            @Html.Raw(ViewBag.FooterCompanyContact)
                        </ul>
                    </div>
                    @if (Model.NewsCategorys != null && Model.NewsCategorys.Count() > 0)
                    {
                        foreach (V308CMS.Data.NewsGroupPage group in Model.NewsCategorys.Take(2))
                        {
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <h3 class="module-title">@group.Name</h3>
                            <ul class="content">
                                @if (group.NewsList != null && group.NewsList.Count() > 0)
                                {
                                    foreach (V308CMS.Data.News news in group.NewsList)
                                    {
                                    <li><a href="javascript:void(0)" title="">@Html.Raw(V308CMS.Common.url.article(news.Title, news.ID))</a></li>
                                    
                                    }
                                }
                            </ul>
                        </div>
                        }
                    }

                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="newsletter">
                            <h3 class="module-title">Đăng ký nhận tin</h3>
                            <div class="content">
                                @if (Model.subscribed)
                                {
                                    <span>Bạn đã đăng ký nhận tin của chúng tôi.</span>
                                }
                                else
                                {
                                    <form action="/member/subscribe" method="post" name="subscribe-form" class="input-group">
                                        <input value="" placeholder="youremail@domain.com" name="EMAIL" class="input-group-field" aria-label="Email Address" type="email">
                                        <span class="input-group-btn">
                                            <input class="btn" value="Đăng ký" name="subscribe" type="submit">
                                        </span>
                                    </form>
                                }
                                
                            </div>
                        </div>


                    </div>
                </div>



            </div>

        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">

                        <address>©@DateTime.Now.Year.ToString() Copyright. Đã đăng ký bản quyền</address>

                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-12">

                        <div class="paypal-footer">
                            <ul>
                                <li><a href="#">
                                    <img src="//cdn.shopify.com/s/files/1/1498/2346/files/z_1600x.png?v=1476112615" alt="" class="img-fluid"></a></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>



