<ul class="nav nav-pills flex-column categorys box-shadow">
    <li class="nav-item title bg-yellow">
        <span class="nav-link" ><i class="icon-menu"></i> Danh Mục Sản Phẩm</span>
    </li>
    @if (Model.LinkCategorys != null && Model.LinkCategorys.Count > 0)
    {
        foreach (V308CMS.Data.ProductTypePage ca in Model.LinkCategorys)
        {

        <li class="nav-item">
            <a class="nav-link" href="/@V308CMS.Common.Ultility.LocDau(@ca.Name)-t@(@ca.Id).html" title="@ca.Name"><i class="fa fa-@ca.Icon"></i> @ca.Name</a>
            
            @{
                using (var entities = new V308CMS.Data.V308CMSEntities())
                {
                    var submenus = (from c in entities.ProductType
                                    where c.Parent == ca.Id
                                    orderby c.Number ascending
                                    select c
                           ).ToList();
                    if (submenus.Count() > 0)
                    {
                        <i class="fa fa-plus-square showsubmenu"></i>
                        <ul class="hidden">
                            @foreach (var sub in submenus)
                            {
                                <li>
                                    <a class="nav-link" href="/@V308CMS.Common.Ultility.LocDau(@sub.Name)-t@(@sub.ID).html" title="@ca.Name"><i class="fa fa-@sub.Icon"></i> @sub.Name</a>
                                    @{
                                        var submenus2 = (from c in entities.ProductType
                                                         where c.Parent == sub.ID
                                                         orderby c.Number ascending
                                                         select c
                                                    ).ToList();
                                        if (submenus2.Count() > 0)
                                        {
                                            <ul class="hidden">
                                                @foreach (var sub2 in submenus2)
                                                {
                                                    <li>
                                                        <a class="nav-link" href="/@V308CMS.Common.Ultility.LocDau(@sub2.Name)-t@(@sub2.ID).html" title="@sub2.Name"><i class="fa fa-@sub2.Icon"></i> @sub2.Name</a>
                                                        </li>
                                                 }
                                            </ul>
                                        }
                                    }
</li>
                            }
                        </ul>
                    }
                }
            }
        </li>
                    }
                }

</ul>
@if (Model.PromotionHot != null && Model.PromotionHot.Count > 0)
{
    <div class="box-items box-shadow hidden-md-down">
        <h4>Khuyến Mại Sốc
        <a class="next icon-right-open" href="#"></a>
        <a class="pre icon-left-open" href="#"></a>
    </h4>
    @foreach (V308CMS.Data.Product prod in Model.PromotionHot)
    {
        @Html.Action("ProductBlockType1", "Block",prod)
    }
    </div>
}

@if (@Request.RequestContext.RouteData.Values["Action"] == "Index" && !Request.Browser.IsMobileDevice) {
    if (Model.Recommend != null && Model.Recommend.Count > 0)
    {
        <div class="box-items box-shadow hidden-md-down">
            <h4>Gợi Ý
            <a class="next icon-right-open" href="#"></a>
            <a class="pre icon-left-open" href="#"></a>
        </h4>
        @foreach (V308CMS.Data.Product prod in Model.Recommend)
        {
            @Html.Action("ProductBlockType2", "Block",prod)
        }
        </div>
    }

    if (Model.News != null && Model.News.Count > 0)
    {
        <div class="box-items box-shadow pt-0 hidden-md-down">
        @foreach (V308CMS.Data.News video in Model.News)
        {
            @Html.Action("YoutubeBlock", "Block",video)
        }
        </div>
    }
}


@if (Request.Browser.IsMobileDevice != true && ViewBag.FacebookPage != null & ViewBag.FacebookPage is string) {
    <div class="box-items box-shadow hidden-md-down">
        <div class="item-type-1">
            @Html.Raw("<iframe src=\"http://www.facebook.com/plugins/likebox.php?profile=1&width=300&height=170&connections=10&stream=true&header=true&id=" + ViewBag.FacebookPage + "\" scrolling='no' frameborder='0' allowtransparency='true' style='border: none; overflow: hidden; width: 100%; height: 150px' ></iframe>")
        </div>
    </div>

    <div id="fb-root"></div>
    <script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.8&appId=1657297111243555";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
}
