@using V308CMS.Admin.Helpers.Url
@model V308CMS.Admin.Models.UserChangePassworModels
@{
    ViewBag.Title = "Thay đổi mật khẩu khách hàng " + Model.UserName;
    Layout = "~/Views/Shared/_LayoutV2.cshtml";
}
<div class="panel panel-primary">
    <div class="panel-body">
        <form method="post" role="form" action="@Url.UserChangePasswordUrl()">
            <div class="row">
                @Html.ValidationSummary(true)
                @Html.HiddenFor(user=>user.Id)
                @Html.AntiForgeryToken()
                <div class="col-lg-6">
                    
                    <div class="form-group">
                        @Html.LabelFor(user => user.NewPassword)
                        @Html.PasswordFor(user => user.NewPassword, new {@class = "form-control", placeholder = "Nhập mật khẩu mới"})
                        @Html.ValidationMessageFor(user => user.NewPassword)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(user => user.ConfirmPassword)
                        @Html.PasswordFor(user => user.ConfirmPassword, new {@class = "form-control", placeholder = "Nhập mật khẩu xác nhận"})
                        @Html.ValidationMessageFor(user => user.ConfirmPassword)
                    </div>
                    @Html.Partial("UI/_FormAction")
                    <a href="@Url.UserIndexUrl()" title="Danh sách Khách hàng" class="btn btn-link">Danh sách</a>
                </div>
            </div>
        </form>
    </div>

</div>
