@using V308CMS.Common
@using V308CMS.Helpers
@using V308CMS.Helpers.Url
@model  List<V308CMS.Data.Product>
@if (Model != null && Model.Count > 0)
{
    <div class="shopify-section index-section">
        <div class="product-main-home product-deal" style="margin: 50px 0px 50px 0px">
            <div class="container">
                <div class="home-product-deal">
                    <div class="module-title">
                        <h2><i class="fa fa-bolt" aria-hidden="true" style="margin-right:10px;"></i>Sản phẩm mới</h2>
                    </div>

                    <div class="box-content">
                        <div id="1475766547020" class="product-height">
                            @foreach (var product in Model)
                            {
                                <div class="item-poduct">

                                    <div class="grid-3  grid-item product-item product-hover product-review" id="product-@product.ID">
                                        <div class="product-image ">

                                            @if (product.SaleOff > 0)
                                            {
                                                <div class="product-label"><label class="label">@(product.SaleOff.HasValue ? product.SaleOff.Value.ToSaleOffLabel() : "")</label></div>
                                            }
                                            <a href="@url.productURL(product.Name, product.ID)" class="grid-image">
                                                <img class="feature-images" src="@product.Image.ToUrl(250,250)" alt="@product.Name">

                                                @if (product.ProductImages.Any())
                                                {
                                                    <span class="product-hover" data-idproduct="@product.ID">
                                                        <img class="img-responsive" alt="@product.Name" src="@product.ProductImages.First().Name.ToUrl(250,250)">
                                                    </span>
                                                }

                                            </a>

                                            <div class="quickview-button">
                                                <a href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="@product.Name" class="sca-qv-button btn" id="@product.ID">
                                                    @ViewBag.ProductViewText
                                                </a>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <h3><a class="product-title" href="@url.productURL(product.Name, product.ID)">@product.Name</a></h3>
                                            @{Html.RenderPartial("ProductPriceComponent", new Tuple<double, int>(product.Price ?? 0, product.SaleOff ?? 0));}
                                            @{Html.RenderPartial("ProductRateComponent", new Tuple<int, int>(0, 0));}
                                            <div class="add-to-link">
                                                <div class="add-to-cart">
                                                    <a href="javascript:void(0);" class="btn add-to-cart-btn" add-cart="@product.ID" title="Thêm vào giỏ hàng">Thêm vào giỏ hàng</a>
                                                </div>
                                                <a data-id="@product.ID" class="wishlist btn" href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="Yêu thích"><span><i class="fa fa-heart" aria-hidden="true"></i></span></a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            }

                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        jQuery(document).ready(function () {

            jQuery("#1475766547020").owlCarousel({
                itemsCustom: [
                [300, 2],
                [360, 2],
                [480, 2],
                [600, 2],
                [800, 3],
                [1000, 3],
                [1200, 5],
                [1400, 5],
                [1600, 5]
                ],
                stopOnHover: true,
                autoPlay: true,

                lazyLoad: true,

                pagination: false,

                // Navigation
                navigation: true,
                navigationText: ['<i class="fa fa-angle-left" aria-hidden="true"></i>', '<i class="fa fa-angle-right" aria-hidden="true"></i>'],
                rewindNav: true,
                scrollPerPage: false

            });

        })

    </script>

}
