<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8" />
    <meta name="referrer" content="origin-when-crossorigin" id="meta_referrer" />
    @Html.Partial("_Header")
    <script src="/Content/vendor/jquery/jquery.min.js"></script>
    <script src="/Content/vendor/moment/js/moment.min.js"></script>
    <script src="/Content/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/Content/vendor/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/Content/vendor/select2/js/select2.min.js"></script>
    <script src="/Content/vendor/jquery-cookie/jquery.cookie.min.js"></script>
    <script src="/Content/vendor/toastr/toastr.min.js"></script>

    <script src="/Content/vendor/bootstrap-editable/js/bootstrap-editable.min.js"></script>
    @RenderSection("Header", false)
</head>
<body>
﻿@using System.Web.Mvc.Html
@using V308CMS.Admin.Helpers
    <div id="wrapper">
        <!-- Navigation -->
        @Html.Partial("_Navigation")
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">@Html.Raw(ViewBag.Title)</h1>
                </div>
            </div>

            @RenderSection("Error",false)
            @Html.Partial("UI/_Alert", ViewContext.GetFlashMessage())

            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    @RenderBody()
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
    <!-- Metis Menu Plugin JavaScript -->
    <script src="/Content/vendor/metisMenu/metisMenu.min.js"></script>
    <!-- DataTables JavaScript -->
    <script src="/Content/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="/Content/vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
    <script src="/Content/vendor/datatables-responsive/dataTables.responsive.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/Content/assets/js/sb-admin-2.js"></script>

    <script src="/Content/assets/js/image-select-with-preview.js?v=1.7"></script>
    <script src="/Content/Plugins/ckeditor/ckeditor.js" type="text/javascript"></script>
    <script src="/Content/Plugins/ckfinder/ckfinder.js" type="text/javascript"></script>
    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
</body>

</html>
