@using StackExchange.Profiling
@using V308CMS.Helpers
@using V308CMS.Helpers.Url
<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="shortcut icon" href="@ViewBag.ThemesPath/images/favicon.png" type="image/png">
    <link rel="icon" href="@ViewBag.ThemesPath/images/favicon.png" type="image/png"/>
    <meta content="website" property="og:type"/>
    <meta content="@ViewBag.SiteName" property="og:site_name" />
    @RenderSection("header", false)
    @{Html.RenderAction("Resources", "Block");}
</head>
<body class="@if (IsSectionDefined("BodyClass")){@RenderSection("BodyClass", false)}else{@Html.Raw("template-product")}" 
      id="@if (IsSectionDefined("BodyId")){@RenderSection("BodyId", false)}else{@Html.Raw("custom-id")}">
<div class="wrapper ">
    <div id="shopify-section-header" class="shopify-section">
        @{ Html.RenderAction("Header", "Block");}
    </div>
    @RenderSection("Breadcrumb", false)
    <main class="container main-content">
        @RenderBody()
    </main>

    @{Html.RenderAction("Footer", "Block");}
    @{ Html.RenderAction("QuickView", "MyShopify");}
    @{ Html.RenderAction("OffCanvas", "MyShopify");}
    @{ Html.RenderAction("WapperPopup", "MyShopify");}
    @if (ConfigHelper.ShowPageProfile) { @MiniProfiler.RenderIncludes() }
</div>
    @RenderSection("Script",false)
    <script>
(function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.8&appId=@ConfigHelper.FacebookAppId";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>    
<script type="text/javascript">
    function showPopup(url) {
        jQuery.get(url, function (response) {
            jQuery('#modalPopUp').html(response);
            jQuery('#modalPopUp').modal({ show: true });
        });
        return false;
    }
    function loginAndBuy() {
        
        jQuery.get("@Url.LoginAndBuyUrl()", function (response) {
            jQuery('#modalPopUp').html(response);
            jQuery('#modalPopUp').modal({ show: true });
        });
    }
    function buyNow() {
        window.location = '@Url.CheckoutCartUrl()';
    }
    </script>
         </body>
</html>
